[2017-10-23 15:33] shiffman opened #1 "plain JS versions - "not defined" error"
I'm working on a planjs version of the LSTM port. @cvalenzuela I'm running into this error: `Uncaught ReferenceError: NDArrayMathGPU is not defined`. I might have missed something in the "unbundling" process? I'm comparing to your MNIST plainjs example, but haven't caught my mistake yet. I'll report back if/when I do, but in the meantime if you have a minute to take a look!

https://github.com/ITP

[2017-10-23 15:57] shiffman commented on #1
got a step further: `deeplearn.NDArrayMathGPU` oops! More soon. . .

[2017-10-23 15:58] cvalenzuela commented on #1
I think i fix it, check the demo now.
You need to defined all deeplearn variables like this
`let math = new deeplearn.NDArrayMathGPU()`

[2017-10-23 16:07] #1 closed

[2017-10-23 16:09] shiffman commented on #1
Heh, yeah, we fixed it at the same time, I merged our changes. I added an `initLSTM()` function thinking I needed it but it's fine so took it out! Going to make a simpler example and then we can maybe tackle the training / porting model, I'll add a separate issue for that!

[2017-10-23 16:14] cvalenzuela commented on #1
perfect!

[2017-10-23 16:16] shiffman opened #2 "Training LSTM model"
@nsthorat and @cvalenzuela have an e-mail thread about this, but adding here to track going forward.

At the moment the LSTM example uses a model trained with [this script from deeplearn.js](https://github.com/PAIR-code/deeplearnjs/blob/master/demos/lstm/train.py). Eventually we want to train the LSTM in browser, but before that I thought it might be simpler to demonstrate the training with a kera

[2017-10-23 17:42] shiffman opened #3 "LSTM "library""
Right now the `lstm.js` file is included in [both of my examples 1 and 2](https://github.com/ITPNYU/p5-deeplearn-js/tree/master/examples/plainjs). Long-term this is a bigger discussion: in theory all of this code would likely live in either deeplearn.js or a new p5-deeplearn add-on/bridge.

However, for now, should I refactor it out now into [libraries](https://github.com/ITPNYU/p5-deeplearn-js/tr

[2017-10-23 17:43] shiffman opened #4 "lstm() function optional arguments"
The `lstm()` method should allow for options arguments:

* [ ] No seed text provided, use random seed text from source text (how many chars?)
* [ ] default temperature
* [ ] default return length (or should this be required?)

[2017-10-23 17:45] shiffman opened #5 "LSTM source text"
How best to handle source text? For this quick example it's a JS file with all of hamlet stored into a variable. To be more flexible / beginner friendly, we should probably switch to using `loadStrings()`? Or there may be a more appropriate workflow once we have an example where the training uses the same source text in JS?

[2017-10-23 17:46] shiffman opened #6 "model ready callback?"
I noticed in my new LSTM example that I am able to call `generate()` before the model is loaded if I'm quick to press the button (or certainly if I call it directly in `setup()`) Perhaps this is something for later once we're further along in making a "library" but we should offer some sort of optional callback to know when the model is loaded?

[2017-10-23 22:03] cvalenzuela commented on #2
The script you reference, transforms the original Keras model (saved as one .h5 file) to Tensorflow checkpoints. These are the files deeplearn.js uses to create a `manifest.json`. The issue is that when dumping the manifest file we also get a bunch of other variables in the `manifest.json`.

I think for now, the best approach is to point students to the `train.py`.
Inside `/training` is a modified

[2017-10-24 01:59] shiffman commented on #2
Makes sense, I'll try to train a slightly better model in the morning and show how to run `train.py` in class. It probably makes sense to adapt/simplify these python environment instructions and include here? Let me know if you have any specific suggestions.

https://github.com/shiffman/NOC-S17-2-Intelligence-Learning/wiki/Python-Environment-Setup

[2017-10-24 02:16] cvalenzuela commented on #2
If you run it with the complete text on your computer it will take forever. Try with just a part of it instead. I haven't played with the hidden layers that much, but that should also influence the result.

I'm also writing this: https://github.com/cvalenzuela/hpc
As a reference to start training models using NYU hpc. Maybe we can add that on the instructions setup.

[2017-10-25 19:00] cvalenzuela opened #7 "A name?"
how should we call it? I'm using HighML just to start developing the library and refactor the code.

[2017-10-25 19:04] shiffman commented on #7
Oh, this is a good one! "High" as in "high level"? I'm not sure that works (too many other connotations?) I'll keep thinking! Is p5-ML too p5 specific and we should stay generic to JS?

[2017-10-25 19:27] cvalenzuela commented on #7
agree!
I'll use p5ML until we figure something else

[2017-10-25 22:08] shiffman opened #8 "alternative dataset for MNIST Hello World"
@hardmaru, what was the data set you mentioned when you visited ITP that's a nice replacement for digits?

[2017-10-25 22:48] shiffman commented on #8
Perfect, it'll be great for an example! Mostly I posted this issue as an excuse to make you aware of our work on p5.js and deeplearn.js at ITP! Would love to have you visit again soon!

[2017-10-26 00:59] hardmaru commented on #8
Wow, I just noticed that this repo name is p5-deeplearn-js, not p5. Thanks for letting me know! Very exciting stuff.

I'll definitely come visit again.

[2017-10-26 02:51] shiffman opened #9 "char_indices, indices_char for custom training text?"
In class this week, to compare with my [markov chain example](https://github.com/shiffman/A2Z-F17/tree/master/week8-markov-lstm/01_markov_bychar_short), I ran through training an LSTM model using `train.py` with `itp.txt`. I've updated the code in this repo to reflect this. The steps I took are:

1. Run `train.py`
2. Run `json_checkpoints_var.py`
3. Switch out `hamlet.js` in example with a new `it

[2017-10-26 02:52] shiffman opened #10 "LSTM pretrained models"
I think it would be useful for demonstrating LSTM's to have the two basic examples running with pre-trained models. Maybe we start by doing a large shakespeare corpus from Project Gutenberg?

[2017-10-26 03:01] shiffman opened #11 "Sketch-RNN"
Simple example using [sketch-rnn plus p5.js](https://github.com/tensorflow/magenta-demos/tree/master/sketch-rnn-js) could be integrated as part of this project, or at least linked to! (cc @hardmaru yet again!)

[2017-10-26 03:22] cvalenzuela commented on #9
The dictionary is autogenerated during the training process but if you autogenerate it during the inference mode, there are issues on how javascript and python sort characters. They must be the same in both for the lstm to work.

This was my initial approach:

In python using hamlet.txt in `train.py`:
[code]
returns:
[code]

But the same in `lstm.js`
[code]
returns:
[code]

That's why I just copie

[2017-10-26 03:27] cvalenzuela commented on #10
Yes! I plan to have a couple of trained models by the end of this week. Can you email me the ITP AWS account you talked me about?

[2017-10-26 11:26] shiffman commented on #9
Ah, I see, perhaps we could add something to either `train.py` or `json_checkpoints_var.py` that generates a JSON file with the character tables so that at least removes the manual copying and would be less prone to error?

[2017-10-26 13:51] shiffman commented on #9
I did a round of work on this in 1b8160d8cc3eb832b2e079137d8957ba9f5d61ab and 93e4fe8eac25d5c942e68250441f2af6297c090f. I'm not getting good results, this is most likely due to the tiniest data set ever and training for only 50 epochs. But @cvalenzuela can you look over what I've done to `training` and `examples/lstm_1` and see if you notice anything awry?

[2017-10-26 17:57] shiffman commented on #9
I also added a `README` with instructions on doing the training if you want to take a look.

https://github.com/ITPNYU/p5-deeplearn-js/blob/master/training/lstm/README.md

[2017-10-26 18:48] cvalenzuela commented on #9
nice!
I'm looking at the example now

[2017-10-26 23:55] cvalenzuela commented on #9
So I did some test and I think I got better results. Here's what I did:

I trained a new model with the `itp.txt`data. In `train.py`I updated the length of the dictionary, that always needs to match the source text:
[code]
and trained it on 1000 epochs since it's a really small source text.

In the `lstm.js` the `onehot` variable needs to have a shape that includes the dictionary:

[code]
Here is

[2017-10-27 00:02] shiffman commented on #9
awesome, that's great! Thank you! Can the `onehot` variable pull its shape dynamically?

[2017-10-27 00:02] shiffman commented on #9
Oh, and feel free to add any of these details to the `README` in `train/`!

[2017-10-27 00:10] cvalenzuela commented on #9
Maybe in the training process, `train.py`could output just one file that has all the variables and objects that could later be imported into the sketch file?

We could also try other rnn implementations that use words instead of characters. Maybe using something like [this](https://github.com/sherjilozair/char-rnn-tensorflow), [this](https://github.com/hunkim/word-rnn-tensorflow) or [this](https:/

[2017-10-27 17:48] nsthorat commented on #2
One thing you could do is write the keras LSTM implementation in deeplearn.js using the RNN cell, and then modify our dump checkpoint script so that it's suited to dump exactly what you need.

Did you ever get that LSTM keras model working from before?

[2017-10-27 18:00] cvalenzuela commented on #9
I updated the `README` in `train/` to reflect this changes

[2017-10-27 19:14] cvalenzuela commented on #2
I couldn't get the Keras model to work. [Here](https://github.com/ITPNYU/p5-deeplearn-js/blob/1ee850dd338f37e4e858d677413682770e215179/examples/es6/lstm/lstm.js#L85) is what I was doing, I'm sure I'm doing something wrong with the encoding.

I'm now going to try with a model that was trained without keras, just tf.

[2017-10-28 04:27] cvalenzuela commented on #2
Update: The lstm example is now working properly [here](https://itpnyu.github.io/p5-deeplearn-js/examples/es6/lstm/index.html), you can even play with the temperature and the length. It's trained on a small corpus of Shakespeare.
I used [this](https://github.com/sherjilozair/char-rnn-tensorflow) to train and then port the model.

[2017-10-30 17:04] shiffman commented on #9
This is great! I made a small change in the code (2dbaf989061b4ce321b1bd034b4f829cafe21057) to skip saving the model at step 0. Or maybe it's a good idea to leave this in since you get something immediately even if it's nonsense. In any case, I'm closing this issue for now! We can open new ones as to things come up re: LSTM training and generation examples!

[2017-10-30 17:19] #9 closed

[2017-10-30 17:25] shiffman opened #12 "lstm examples: "temperature""
I don't see `data.temperature` being used at the moment in the two LSTM examples. @cvalenzuela did I miss it somewhere?

[2017-10-30 17:31] shiffman commented on #2
oh oops, I missed this thread when filing #12, I'll take a look and see about porting to the simpler "plainjs" examples! Should I discuss and show `char-rnn-tensorflow` with students and add to the training instructions of just leave the info on `train.py`?

[2017-10-30 18:19] nsthorat commented on #2
Love the demo!

Let me know if there's any feedback you have for us about what we can make easier.

[2017-10-30 18:21] nsthorat commented on #2
FYI - there's a thread in our repo that is curious about this if you want to show off the demo!

https://github.com/PAIR-code/deeplearnjs/issues/237

[2017-10-30 18:36] cvalenzuela commented on #2
thanks @nsthorat. We still need to clean the code a little bit and refactor, but I'll post it!

@shiffman, I will rewrite the instructions to use the `char-rnn-tensorflow` for the training.  I found that easier and more manageable to use than the one we were using before. Also, running it on tinny Shakespeare took like 1hr in my computer.
I think the next step is to start wrapping that into a call

[2017-10-30 18:41] shiffman commented on #2
Yes! It's a little bit odd to start building the library out with LSTM as the first stop, but since it's what we're using in A2Z right now I guess it makes sense. I'm imagining a more OOP style API, something like:

[code]

Does that make sense do you think? We can move this to a separate thread. I am not at all sure about the naming. But at least I tried to use `const`!

Maybe the `variables.json

[2017-10-30 19:03] cvalenzuela commented on #2
yes, that makes sense!

let's move this to another thread to keep track of it

[2017-10-30 19:25] shiffman commented on #2
Great, will leave this open, you can close once the `char-rnn-tensorflow` instructions are up. I'll repost my comment to a new thread.

[2017-10-30 19:27] shiffman opened #13 "LSTM API"
This is a proposal for the LSTM library from #2.

I'm imagining something like:

[code]

I am not at all sure about the naming.  I am also wondering if `variables.json` should be integrated into the model files directory and not treated separately?

[2017-10-31 18:38] hpssjellis opened #14 "Thanks for generating both ES6 and plainJS (ES5)"
Not an issue, I just wanted to thank you for generating your examples in both ES6 and ES5 (plainJS) formats. Not being used to Typescript, I really appreciate it.

P.S. How do you use TSC to generate the plainJS folder? I would really like deeplearnjs to do it just not sure what to suggest.

[2017-10-31 20:35] hpssjellis commented on #14
Oops you don't use typescript. Then ignore this.

[2017-10-31 20:35] #14 closed

[2017-11-01 20:48] cvalenzuela commented on #13
The LSTM examples [1](https://itpnyu.github.io/p5-deeplearn-js/examples/lstm_1/index.html) and [2](https://itpnyu.github.io/p5-deeplearn-js/examples/lstm_2/index.html) are now implementing this approach:
[code]
I also removed the ES6 examples in favor of just ES3 to keep it as simple as possible.

Next step is to update the `/training` to reflect this changes

[2017-11-03 19:40] shiffman opened #15 "Image Captioning Example"
There is interest in my A2Z class re: image captioning. I thought I would try to create a simple example modeled after the [deeplearn.js imagenet](https://deeplearnjs.org/demos/imagenet/) that provides captions for a `p5.Image` as well as real-time captions of a recorded or live video. @cvalenzuela, just wanted to check whether I'd be duplicating anything you have already done? Will leave this thr

[2017-11-03 22:13] shiffman commented on #13
I went through these examples and did a little clean-up, everything looks great! I'm going to close this issue and file two new ones for some small-ish things (including updating "training").

[2017-11-03 22:13] #13 closed

[2017-11-03 22:13] shiffman commented on #12
Examples are all set now!

[2017-11-03 22:13] #12 closed

[2017-11-03 22:14] shiffman commented on #10
I guess I'll leave this open as perhaps it would be nice to have some more pretrained models. Some ideas:

* [x] Shakespeare
* [ ] Wikipedia Articles

(other suggestions?)

[2017-11-03 22:16] shiffman opened #16 "LSTM defaults"
How to handle if a property is not passed into `generate()`:
* seed: pick a random sequence of characters from source text as seed?
* temperature: 0.5 ?
* length: 140 ?

[2017-11-03 22:16] shiffman opened #17 "LSTM Instructions"
Update instructions to use [char-rnn-tensorflow](https://github.com/sherjilozair/char-rnn-tensorflow)

[2017-11-03 23:13] cvalenzuela commented on #17
They are updated here: https://github.com/ITPNYU/p5-deeplearn-js/tree/master/training/lstm

[2017-11-03 23:16] cvalenzuela commented on #16
if no object is passed the defaults now are:
[code]
Definitely should update seed to something more meaningful

[2017-11-03 23:18] cvalenzuela commented on #15
Nice! I haven't started anything with images yet.
Maybe porting this https://github.com/tensorflow/models/tree/master/research/im2txt will be interesting too!

[2017-11-04 18:51] shiffman commented on #16
Noting here that `char-rnn` uses "uniform probability over first character"

https://github.com/karpathy/char-rnn/blob/master/sample.lua#L129

[2017-11-04 18:53] shiffman commented on #17
Oh, oops, awesome, this is great!

[2017-11-04 18:53] #17 closed

[2017-11-09 00:12] cvalenzuela commented on #15
This is now implemented using SqueezeNet
There's an example here: https://github.com/ITPNYU/p5-deeplearn-js/tree/master/examples/imagenet

Should we different models?

[2017-11-09 16:12] shiffman commented on #15
Yes, definitely! It also might be nice like with the LSTM examples to offer a `README` on how to train your own model. . . although ultimately if students want to train models for image classification, some transfer learning process will likely be more workable in terms of creative coding scenarios.

[2017-11-10 18:59] dano1234 opened #18 "mnist demo not working"

[2017-11-11 15:33] shiffman commented on #18
I pushed a "quick fix" by just adding back in `deeplearn.js` locally to the project. @cvalenzuela, what do you think is the best pathway to end-users to accessing native elements of deeplearn from within coding importing `p5ml.js`?  It could be a static reference like `p5ML.deeplearn.Thing` but maybe best to keep `deeplearn` in the global scope?

[2017-11-11 15:35] shiffman opened #19 "Getting Started Developer Guide"
Since this project is making use of modules and other ES6 features, not to mention yarn and/or webpack-dev, we should make a getting started developer guide.

[2017-11-11 15:37] shiffman opened #20 "Example distribution"
As of now, the examples depend on models, js files, and other elements via relative paths in this full repo. We should come up with a way to "distribute" stand-alone examples where everything is contained within a single directory.

(Related to this, testing and releasing examples in the p5 web editor could also be useful.)

[2017-11-11 23:58] shiffman commented on #15
I've been working on the ImageNet/SqueezeNet examples. I've changed the following:

* [x] `predict()` returns an array of classes sorted by probability
* [x] `predict()` takes an optional 3rd argument for number of classes to return

The main thing I'd like to work through now is how to make this simpler to use with `p5.Element` and/or `p5.Image`. As of now example code requires `createImg()` and

[2017-11-12 00:35] cvalenzuela commented on #18
Since we can load the complete `deeplearn` library with `p5ML` I think making it global makes more sense. I'll push an update to reflect that.

[2017-11-12 00:38] cvalenzuela commented on #18
Also, should we leave `deeplearn` graph api as it is? or build something around it? The mnist demo is works by building the whole thing in `deeplearn`:

[code]
Do you think we should modify/simplify this?

[2017-11-12 00:39] cvalenzuela commented on #19
I'll add a CONTRIBUTE.md

[2017-11-12 00:42] cvalenzuela commented on #20
I think the `examples` folder should be a stand-alone folder until maybe we can move all the examples to its own repo. If @shiffman agrees, I'll refactor it

[2017-11-12 03:05] shiffman commented on #18
I'm not sure, but probably? I think we hold off for now as working through other examples and scenarios will inform our thinking. I could imagine a keras-like layer perhaps above deeplearn for architecting a model? We could also do a simple `MNIST` demo with the `NeuralNetwork` class perhaps?

I also like the idea of avoiding MNIST and using something more artist-friendly for a classification demo

[2017-11-12 03:05] shiffman commented on #20
Sounds good!

[2017-11-12 03:16] shiffman commented on #15
* `category` is great. I can update that.
* I wasn't able to get it to work with different image resolutions but I can investigate more, I didn't try for long and might have made silly mistakes.
* re: p5 or plain js, I don't know! Ideally I think the predict function could take any of the following:
    * `p5.Image`
    * `p5.Element` (either video or image)
    * `p5.Renderer` (i.e p5 canvass)

[2017-11-12 03:22] shiffman commented on #15
Adding:

* [ ] constructor should have 2nd optional callback for when model is ready. (If not using `preload()`).

[2017-11-14 21:10] shiffman commented on #15
Noting here that passing in the optional third argument for number of categories is broken at the moment.

[2017-11-15 18:07] #19 closed

[2017-11-15 18:09] shiffman opened #22 "Style Transfer"
Making a note here to discuss style transfer example / library object.

https://github.com/reiinakano/fast-style-transfer-deeplearnjs
https://reiinakano.github.io/fast-style-transfer-deeplearnjs/

[2017-11-15 18:37] cvalenzuela commented on #20
[#319fe9b](https://github.com/ITPNYU/p5-deeplearn-js/commit/319fe9b3b5ae8dd7293e3cbe710d40b1ad9ebe07) creates stand-alone examples. Each example is self contained. I also added a script that will replace the `examples/libraries/p5ml.min.js` with the latest version when building the library.

Also, refering to #18, now there is a global `deeplearn` variable and a `p5ml.math` reference.

[2017-11-16 19:26] shiffman opened #23 "port examples to p5.js editor"
and link from here

[2017-11-16 19:26] shiffman opened #24 "improve imagenet documentation"
no info about the callback

[2017-11-17 15:33] yining1023 opened #25 "Example: Simple P5 version of Teachable Machine"
Teachable Machine: [Teachable Machine](https://teachablemachine.withgoogle.com/)

The code is here: [https://github.com/googlecreativelab/teachable-machine](https://github.com/googlecreativelab/teachable-machine)

I'd like to make a very simple version of it in p5.

[2017-11-17 16:52] cvalenzuela commented on #25
great! I'm currently porting [this](https://github.com/PAIR-code/deeplearnjs/tree/master/models/knn_image_classifier) that can be used as reference too.

[2017-11-17 19:43] yining1023 commented on #25
Thank you!

[2017-11-17 22:25] cvalenzuela commented on #25
I just pushed [https://github.com/ITPNYU/p5-deeplearn-js/commit/03df180a434ed50bdcdb1fb97572161f07067c72](https://github.com/ITPNYU/p5-deeplearn-js/commit/03df180a434ed50bdcdb1fb97572161f07067c72) that implements the KNN Image Classifier.

![demo](https://user-images.githubusercontent.com/10605821/32971567-c7794e78-cbbb-11e7-8306-2f696c016f14.gif)

The working example is [here](https://github.com/

[2017-11-17 22:28] cvalenzuela opened #26 "Port YOLO"
- [Original project](https://pjreddie.com/darknet/yolo/)
- [deeplearn.js issue on this](https://github.com/PAIR-code/deeplearnjs/issues/98)
- [Darknet port to tf](https://github.com/thtrieu/darkflow)

[2017-11-20 15:16] yining1023 commented on #25
This is amazing! I tried it. It worked perfectly.

[2017-11-21 16:15] shiffman commented on #25
I made some changes to the example and ran into some small issues that I think we could address to make it simpler / easier to use. Will file them here soon!

[2017-11-21 16:57] shiffman commented on #25
Two things to investigate:

* [ ] The first time I hit "train" the browser locks up for a few seconds. Subsequent calls to train do not have this issue.
* [ ] Continuously training or predicting will throw an error unless there is some small amount of milliseconds wait time between receiving results and guessing again. I built this delay into the example, but it might be nice to handle this intern

[2017-11-21 21:46] shiffman opened #27 "Image Utilities"
Related to #26 #24 #21 #15, there are going to be many examples working with images. There are some awkward things now that perhaps we can handle internally and/or with an "image utility" class for the library that handles the images <--> NDArray stuff.

1. Should all functions that receive an image should work with DOM elements (`<img>`, `<video>`, `<canvas>`, `p5.Image` objects, and `pixels` arr

[2017-11-22 04:44] cvalenzuela commented on #27
Adding specific utilities for the  `<video>` tag could be nice too. Like managing frame rates.

I can work on this.

[2017-11-22 04:45] #20 closed

[2017-11-26 15:27] shiffman opened #28 "Clustering / Unsupervised Learning"
I am working on some examples to cluster data sets. Here are some algorithms I imagine eventually having in this library:

* kmeans
* principal component analysis (PCA)
* TSNe

I committed a kmeans example (uses random vectors) as a start.

https://github.com/ITPNYU/p5-deeplearn-js/tree/master/examples/clustering/kmeans

Some next steps are:

* [ ] Is the algorithm correct? (I whipped it up quickl

[2017-11-28 20:21] shiffman commented on #28
Any ideas for a good sample dataset to try with this? Eventually I'd like to try some interesting demos like @genekogan's amazing [TSNe Viewer](https://ml4a.github.io/demos/tsne_viewer.html) but will start with something smaller, simpler and more suited for kmeans.

Maybe [colors](https://github.com/dariusk/corpora/tree/master/data/colors) or [small corpus of word vectors](https://github.com/shiff

[2017-11-28 23:59] genekogan commented on #28
hi @shiffman!  i often dig into the (now relatively old) [CalTech-256](http://www.vision.caltech.edu/Image_Datasets/Caltech256/) which is structured into 256 rather random categories. the tsne demo just is the subset of those categories which are animals. it's neatly organized so it's easy to make themed subsets.

[2017-11-29 17:04] cvalenzuela commented on #3
Closing this for now, it seems resolved.

[2017-11-29 17:04] #3 closed

[2017-11-29 17:07] cvalenzuela commented on #2
The`char-rnn-tensorflow` instructions are up [here](https://github.com/ITPNYU/p5-deeplearn-js/tree/master/training/lstm).

[2017-11-29 17:07] #2 closed

[2017-11-29 17:09] cvalenzuela commented on #5
No need to load the source text for now, closing this as it seems resolved.

[2017-11-29 17:09] #5 closed

[2017-12-03 22:44] yining1023 commented on #25
I made this teachable machines example that outputs gifs. My next step would be using p5.sound.js to output sounds!

![demo](https://user-images.githubusercontent.com/8662372/33530680-6861852a-d851-11e7-8460-ebdb8580484d.gif)

[2017-12-09 00:18] fedden opened #30 "Training LSTM causes IndexError"
Hi there,

Training a custom LSTM model using the supplied script causes an error when assigning a model name if the folder is not more than two directories deep.
[code]
Will cause the following error:
[code]
It's a very easy fix, ```args.data_dir.split("/")[2]``` should be changed to something like ```args.data_dir.split("/")[-1]```. I'm happy to submit a pull request if that is easier - just let

[2017-12-09 18:14] cvalenzuela commented on #30
great! thanks for the PR

[2017-12-09 18:14] #30 closed

[2017-12-13 00:50] shiffman opened #32 "License"
deeplearn.js is Apache License 2.0:
https://github.com/PAIR-code/deeplearnjs/blob/master/LICENSE

p5.js is GNU Lesser General Public License v2.1
https://github.com/processing/p5.js/blob/master/license.txt

Certainly we want something permissive.

Opinions?

[2017-12-16 20:31] hpssjellis commented on #8
Another possiblity is MNIST in CSV

Nice to be able to open up the dataset in excel. The files are a bit larger unfortunately

https://pjreddie.com/projects/mnist-in-csv/

Train set is

https://pjreddie.com/media/files/mnist_train.csv

Test set is

https://pjreddie.com/media/files/mnist_test.csv

Still have not worked out how to load these into P5 or deeplearnjs

[2017-12-16 20:50] hpssjellis opened #33 "What if deeplearnjs changes?"
I think deeplearnjs [Sessions and Graphs](https://github.com/PAIR-code/deeplearnjs/issues/33#issuecomment-333401000) are on their way out. Although no one seems to be saying if this change is coming soon or going to take a while.

Is p5-deeplearn-js  ready for the changes? Or is this going to cause a major break? I often make my web pages point to a specific build

`<script src="https://unpkg.com/

[2017-12-17 00:26] shiffman commented on #33
This library is very new and in progress so we plan to adapt to deeplearn-js as it changes in the near future. . .

But this is a good point as we way want to match versions of this library with versions of deeplearn. @cvalenzuela what do you think?

[2017-12-18 19:19] cvalenzuela commented on #33
Yes, we need to handle those changes. But as @shiffman said, this is still very much a WIP, so I guess can still change it and not break anything.

Also, we are using [semantic realease](https://github.com/semantic-release/semantic-release) to manage the library versions (still 0.0.1) and handle this issues

[2017-12-18 22:49] shiffman commented on #33
Great, I think we can mark this as resolved!

[2017-12-18 22:49] #33 closed

[2017-12-28 22:41] yining1023 opened #35 "Demo: Fast-style-transfer"
I'm thinking about adding a demo about fast-style-transfer.
[Fast-style-transfer](https://github.com/lengstrom/fast-style-transfer) in Tensorflow
[fast-style-transfer demo](https://github.com/PAIR-code/deeplearnjs/tree/master/demos/fast-style-transfer) from deeplearn.js

[2017-12-29 03:54] cvalenzuela commented on #35
That would be great!
#22  is also following this

[2017-12-29 18:25] hpssjellis commented on #23
The link is [https://github.com/processing/p5.js](https://github.com/processing/p5.js)

[2018-01-03 04:23] achimkoh commented on #25
@yining1023 When I found out about this library a few weeks ago I thought that a Teachable Machine-like example would be nice, but totally missed that you had already made one! Great job :D I'd be happy to help with expanding this example with p5.sound if you have something going on.

[2018-01-15 17:09] #16 closed

[2018-01-15 17:15] cvalenzuela commented on #6
[0611169](https://github.com/cvalenzuela/p5-deeplearn-js/commit/061116981958295b652b752315de02734776ceb1) solves this.

[2018-01-15 17:15] #6 closed

[2018-01-15 17:17] #4 closed

[2018-01-15 18:53] shiffman commented on #16
Totally minor thing but sometimes it's helpful if you separate commits out for specific bugs, makes it easier to find the piece of the code that fixes certain issues. (And I am fully aware that I fail to do this most of the time myself!)

[2018-01-15 19:08] cvalenzuela commented on #16
I agree! I will keep this is mind for the next time!

[2018-01-16 15:17] yining1023 commented on #25
@achimkoh that would be great!

[2018-01-24 22:31] #35 closed

[2018-01-24 22:32] #25 closed

[2018-01-25 19:42] cvalenzuela opened #39 "Move tutorials and stand alone examples to docs/"

[2018-01-26 01:02] sleepy-maker commented on #7
p5ML is super useful, but I guess when people use this library, for most of them p5js might not be the first option. Keeping generic to js may be great.

[2018-01-29 14:32] shiffman commented on #7
I agree! My reason for liking "p5" is it's an "indicator" that the library is meant to be simple and friendly for beginners. It's key that the library can work on its own and not require p5 as a dependency, but for teaching it's nice to have automatic hooks into p5 (`preload()`, working with `p5.Image`, `pixels`, etc.) This is similar to how `p5.sound` works.

That said, I'm totally open to other

[2018-01-29 22:02] sleepy-maker commented on #7
@shiffman
Could you change the access level of the wiki for us?
Thanks!

[2018-01-31 19:00] handav commented on #7
DL5.js?

[2018-01-31 19:46] shiffman commented on #7
Wiki should be active again! I like `DL5`! I wonder if `ML5` would be better since I envision the library as being a bit broader than so-called "deep" learning?

pML5.js?

[2018-01-31 20:30] cvalenzuela commented on #7
I like ML5.js or maybe LM5.js? (learning machines)

[2018-01-31 20:34] cvalenzuela opened #41 "Unit Testing and CI"
As briefly discussed with @shiffman, this project should at some point have a testing framework and CI

[2018-01-31 20:35] shiffman commented on #7
I did a quick google search for `ml5` and `lm5` and unfortunately `lm5` is a kind of rifle so we would probably want to stick with ML in this case! (Though I really like the twist.)

[2018-01-31 20:36] shiffman commented on #41
I have been learning [jest](https://facebook.github.io/jest/) for a video about "continuous integration" so would be glad to participate in helping get this started!

[2018-01-31 20:36] cvalenzuela commented on #22
Closing this: See [#35](https://github.com/ITPNYU/p5-deeplearn-js/issues/35)

[2018-01-31 20:36] #22 closed

[2018-01-31 20:44] aparrish commented on #41
just chiming in to give encouragement for this—a test framework and CI makes it *so much easier* for people to contribute to an open source project.

[2018-01-31 20:53] cvalenzuela commented on #7
I registered ml5 in npm, just in case.

[2018-01-31 21:18] shiffman commented on #41
Let's discuss tomorrow! Maybe I can do a quick tutorial as practice for my video tutorial and anyone who wants to could work on it at the meeting.

[2018-01-31 21:23] sleepy-maker commented on #7
A curated list of awesome Machine Learning frameworks, libraries and software.
https://github.com/josephmisiti/awesome-machine-learning#javascript-nlp

[2018-01-31 21:37] cvalenzuela commented on #41
sounds good!

[2018-01-31 21:38] cvalenzuela commented on #24
Closing this and opening a new issue for contributing to the new docs website

[2018-01-31 21:38] #24 closed

[2018-02-01 19:10] shiffman commented on #41
Making a list of tests:

* [ ] for utils.js test correct image output for a given input.
* [ ] test models -- squeezenet

to be continued. . . .

[2018-02-01 19:26] BarakChamo commented on #27
I can start working on a wrapper around dealing with image data sources (i.e. urls, `<img/>`, `<canvas/>`, `Image()` and `p5.Image`).

If one of the goals of this library is to be easily compatible but not tied to to `p5.js` then it's probably best to abstract all of these modules from the model code.

[2018-02-01 19:46] BarakChamo commented on #27
Implementation will follow the `fromPixels` method on `Array3D`
`https://deeplearnjs.org/docs/api/classes/array3d.html#frompixels`

[2018-02-01 20:05] yining1023 opened #43 "Demo: live pix2pix (edges2cats)"
I'm porting pix2pix model.
Here is a demo: [https://affinelayer.com/pixsrv/](https://affinelayer.com/pixsrv/)

[2018-02-03 14:32] shiffman commented on #7
At our meeting on Thursday, we settled on the name `ml5.js` . . . any thoughts or comments, speak now! @cvalenzuela, say the word and I will rename the repo to `ml5-js`?

[2018-02-03 19:19] cvalenzuela commented on #7
And the magic word is...

...
...

...

ml5!

[2018-02-05 04:18] cvalenzuela commented on #41
commits [af5d848](https://github.com/ITPNYU/p5-deeplearn-js/commit/af5d848933fba255521d0d9fd4b352f4f9036bec) and [5f31edc](https://github.com/ITPNYU/p5-deeplearn-js/commit/5f31edc0efedb90e9ede2213464676edf45381d1) added support for Jest and a short description in the [CONTRIBUTING.md](https://github.com/ITPNYU/p5-deeplearn-js/blob/master/CONTRIBUTING.md#running-unit-tests) guide on how to run and

[2018-02-05 16:32] shiffman commented on #41
Wonderful, I just did a video tutorial series about testing and CI (with jest and CircleCI). When those are published I can include that as material for getting started contributing. . .

[2018-02-05 16:34] shiffman commented on #7
This repo has now been renamed!

https://github.com/ITPNYU/ml5-js/

(I did, however, break the website as the paths have changed. . .)

[2018-02-05 16:44] shiffman commented on #7
Ok I think the website path stuff has been changed with #44. @cvalenzuela Can you change library name (`p5ml`) internal to the code? Documentation also has to be done, which I am happy to take a look at.

[2018-02-05 18:54] cvalenzuela commented on #7
[4f1ac4a](https://github.com/ITPNYU/ml5-js/commit/4f1ac4a6636d22dd1b8af41ec600f2d63dda9e5a) updates the name in all docs, examples and src files. The website has also been updated.

Now, for example, instead of
[code]
should be
[code]

for all methods.

[2018-02-05 19:00] cvalenzuela commented on #7
@shiffman, should we also update the repo description and add the url?
![image](https://user-images.githubusercontent.com/10605821/35823247-e955e57e-0a7c-11e8-9c7c-b166d2bccde7.png)

[2018-02-05 23:27] shiffman commented on #7
Yes! Will do so now and closing this issue!

[2018-02-05 23:27] #7 closed

[2018-02-06 21:42] cvalenzuela commented on #39
Closed by [3a90f8c](https://github.com/ITPNYU/ml5-js/commit/3a90f8c241938d0a044c283d1c003cf5a0c48ee6)

[2018-02-06 21:42] #39 closed

[2018-02-07 21:12] ThomasOrlita opened #45 "KNN: export the model"
The `KNNImageClassifier` has a function to import a model (`loadModel(model)`). Is there any way to export the trained model so I can import it later?

[2018-02-08 00:57] cvalenzuela commented on #45
Unfortunately, that's something that deeplearn.js needs to handle.
[This issue](https://github.com/PAIR-code/deeplearnjs/issues/490) in the deeplearn repo is following that.

@matamalaortiz made a quick fix where he pre saved a couple of images and when the page loaded, used those images to train the classifier.

[2018-02-09 10:56] arpit2050 opened #48 "ImageNet Classifier Example"
![errorscreen](https://user-images.githubusercontent.com/19436062/36024386-a53a489e-0db5-11e8-95d6-d1a54f69d9a3.png)
![imagenetcode](https://user-images.githubusercontent.com/19436062/36024372-94b9ad34-0db5-11e8-872b-5717f6e50dd7.png)

I am getting error as mentioned in the screen-shot. I need to create prototype similar to teachable machine as there in your KNN image classifier example, before th

[2018-02-09 17:35] cvalenzuela commented on #48
Hi @arpit2050, you just have need to replace line 16:
`imagenet = new ml5.ImageNet('Squeezenet');`

for

`imagenet = new ml5.ImageNet('SqueezeNet');`
(capital N for Net)

The constructor changed and it wasn't reflected in that example. I will update to reflect that

[2018-02-09 17:45] arpit2050 commented on #48
@cvalenzuela Thanks for updating me. I will change that 'N' character and waiting for constructor update

[2018-02-09 21:09] #48 closed

[2018-02-09 22:01] shiffman commented on #41
As a matter of update CircleCI is now integrated with #50. We'll certainly want more tests but we're off and running! I'll leave this open for now but we can eventually transition to individual issues for tests.

[2018-02-09 22:28] faisaltaher opened #51 "hey this website dose not work"
https://itpnyu.github.io/ml5-js/
please help

[2018-02-09 22:30] cvalenzuela commented on #51
the url got updated: https://itpnyu.github.io/ml5/

[2018-02-09 22:30] #51 closed

[2018-02-11 20:00] cvalenzuela opened #52 "publish in npm"
Currently the [npm package](https://www.npmjs.com/package/ml5) for this library is empty.

Should we start publishing it? Maybe as a pre-release
It would be nice to do:
[code]

[2018-02-11 20:01] shiffman commented on #52
Agreed! Let's go for it!

[2018-02-11 20:16] cvalenzuela commented on #52
great!, I'll work on it

[2018-02-13 21:28] fedden opened #53 "GSOC Feature Requests"
Hi there. Hopefully, git issues is an acceptable means of communication. I would like to take part in the [Google Summer of Code 2018](https://summerofcode.withgoogle.com/organizations/4915113891463168/) and it would be great to make some meaningful contributions to this library. I'll need to write a proposal and was wondering if there are features/examples that are being sought?

I can see that S

[2018-02-15 18:15] shiffman opened #54 "Investigate Observable for tutorials / examples"
https://beta.observablehq.com/

[2018-02-15 18:20] shiffman opened #55 "Investigate Google Colab as platform for cloud training of models"
(Yes, eventually we want to train models in JavaScript in the browser too, but this might be useful now and later.)

https://research.google.com/colaboratory/unregistered.html

[2018-02-15 18:52] handav opened #56 "make a datasets page"
Let's make a datasets page!

[2018-02-15 23:24] shiffman commented on #53
Thanks for your note! The best place to discuss ideas for GSoC (in addition to here, which is absolutely ok too) is [on the forum](https://forum.processing.org/two/categories/summer-of-code-2018).

Following along in the github issues and proposing to contribute an implementation of pix2pix and/or sketch-rnn are both great ideas. Another reference is Gene Kogan's [amazing ml4a site and guides](htt

[2018-02-15 23:24] #53 closed

[2018-02-15 23:37] cvalenzuela commented on #56
Yes! I can help setup this!

[2018-02-15 23:51] cvalenzuela opened #57 "Refactor to deeplearn.js v0.5.0"
https://github.com/PAIR-code/deeplearnjs/releases/tag/v0.5.0

[2018-02-16 00:21] cvalenzuela opened #58 "t-SNE"
As mentioned by @genekogan, doing a t-SNE port would be interesting

Could be based on this: https://github.com/karpathy/tsnejs

[2018-02-16 19:48] genekogan opened #59 "404 on assets in fast_style_transfer_mirror"
In `examples/fast_style_transfer_mirror/sketch.js`, I get 404 on 'assets/models/udnie' and 'assets/img/udnie.jpg'. On [my fork](https://github.com/genekogan/ml5/commit/774528e6c330adc66a4267d367388656aa29044a) I've corrected this to the local files. I can submit a PR if this is correct. But I also noticed you have these files in `docs/assets/` so I thought maybe you meant the global ones or that I

[2018-02-16 20:13] yining1023 commented on #59
Yes, please! I think the path got changed when we added the example to the website, which is using assets from `docs/assets/`. But examples should still use the local files. Thank you, Gene!

[2018-02-17 17:36] micuat opened #63 "no data found for NDArray error"
I get this error while predicting the class:

[code]

the script is:

[code]

[2018-02-17 21:16] cvalenzuela commented on #59
#61 fixes this

[2018-02-17 21:16] #59 closed

[2018-02-21 18:59] cvalenzuela commented on #63
This might happen if you call the `train` method before the model has loaded. You add a callback to be enable the buttons once the model has loaded

[2018-02-21 19:00] shiffman commented on #63
We could perhaps catch errors like these and provide some friendlier messages a la p5? I can open an issue to discuss.

[2018-02-21 19:02] shiffman opened #65 "error messages?"
Continuing off of #63, we might consider providing some friendly error messages if users attempt to call `train()` before a model is loaded. Not sure how many situations this would apply to.

[2018-02-21 19:02] cvalenzuela commented on #63
yes, that would be ideal. I'm working on a new refactor to update to dl 0.5.0, this can be part of it

[2018-02-22 16:10] dariusk commented on #65
I had on my todo list from yesterday to implement better error messages in `Word2Vec` but I couldn't find any stylistic examples of usage of `throw` statements in the code. Maybe something to talk about with the team today.

[2018-02-22 16:13] dariusk commented on #65
cc @cvalenzuela ^^

[2018-02-25 04:36] micuat opened #67 "frame drop while running imagenet.predict"
I noticed during the workshop last week that p5.js canvas frame rate drops significantly while running video classification. Here's an example output from [this code](https://github.com/cvalenzuela/sfpc/blob/master/scripts/03_videoClassification.js) with `console.log(frameRate())` in `draw()`.

[code]

`imagenet.predict(...)` happens asynchronously but I think deeplearn.js is using GPU, which is b

[2018-02-25 17:09] cvalenzuela commented on #67
The video classification example is an intense task to the browser. I'm not 100% sure, but I think we might get past this using web workers.

[2018-02-26 12:58] Versatilus commented on #67
Anecdotally, I think you're right in inferring this is a technical
limitation. I know that when I run a GPU stress test it has an effect on
systemwide video performance, including things like YouTube and p5 sketches.

On Sat, Feb 24, 2018 at 8:36 PM, Naoto HIÉDA <notifications@github.com>
wrote:

[2018-02-26 20:24] shiffman opened #70 "examples and p5"
This is related to #27 as well as pull requests #69 and #66. I'm reposting a comment I made on @dariusk's amazing recommendations document! Perhaps we can discuss at our meeting on Thursday.

---------

Regarding the p5 examples, I would love to have a discussion about how to manage this. One of the reasons things skewed towards p5 is that I hope to integrate it into my beginner programming classe

[2018-02-27 16:23] cvalenzuela commented on #70
I like how p5 allows simplifying things. However, this might get in the way of showing how the library can be used in combination with other frameworks.

I think a combination of 1 and 3 might work. Having a separate repo with a collection of examples of ML5 + p5.js might also allow people to contribute more to the project.

Let's discuss it on Thursday!

[2018-02-27 16:33] cvalenzuela opened #72 "Propel"
This project recently came out:

http://propelml.org/

Since it uses the Tensorflow C API, it might be interesting to port [all training examples](https://github.com/ITPNYU/ml5/tree/master/training) to use Javascript. Then we would not need to set up environments in python!

[2018-02-27 16:42] cvalenzuela commented on #52
Version 0.0.1 published to npm!

https://www.npmjs.com/package/ml5

[2018-02-27 16:42] #52 closed

[2018-02-27 16:42] shiffman commented on #52
amazing!

[2018-02-27 16:46] dariusk commented on #70
I agree, 1 & 3 seem like a good combination. This is partly why I've been submitting p5-less PRs on like, the non-canvas examples.

[2018-02-27 17:46] dariusk commented on #67
I profiled the given code and at least on my Macbook Pro it does seem like the rendering is being blocked somehow in the ~100ms after a `predict` is fired.

![image](https://user-images.githubusercontent.com/266454/36744769-9d48d0b0-1bbb-11e8-9cbf-ccd1cc5f3f82.png)

The big spike on the left is the `predict()` call stack, and then we can see that the Animation Frame call in the middle is taking ~7

[2018-02-27 22:27] shiffman commented on #70
Thanks I'll leave this open as a reminder, we can discuss a bit more on Thursday too. I would be happy to take the lead on maintaining the "p5+ml5" examples repo should we go that route.

[2018-02-27 22:35] carlosgalveias opened #74 "Using in node issue - Fetch is not defined"
Hi guys,

trying out ml5 :)
Wanted to run the ltsm example in node. But i'm getting this:

PS C:\Users\Carlos\Desktop\mltest> node

undefined

ReferenceError: fetch is not defined
    at LSTMGenerator.loadVocab (C:\Users\Carlos\Desktop\mltest\node_modules\ml5\dist\ml5.js:26587:7)
    at new LSTMGenerator (C:\Users\Carlos\Desktop\mltest\node_modules\ml5\dist\ml5.js:26533:10)
    at repl:1:12
    at

[2018-02-27 23:10] cvalenzuela commented on #74
Hi @carlosgalveias, are you trying to use this just in node?
The library is meant to be used in the browser for now, it needs the webgl canvas context to work.
You can take a look at [headless-gl](https://github.com/dfoody/headless-gl) for a node implementaion of deeplearn.js

[2018-02-27 23:49] dariusk commented on #74
Yeah I ran into this too. The other option is to use a test suite that launches a browser to run tests from the command line like `karma`

[2018-03-01 19:54] shiffman opened #76 "Moving to Github org, separating repos"
This is note to say we plan to move to a github org ([ml5js](https://github.com/ml5js) unless anyone has a better idea for a name?) so that we can separate out into three repos:

* library (this repo with website and examples removed)
* website
* examples

This relates to #27.

I'll follow up here when it's done!

[2018-03-01 19:57] shiffman commented on #41
We are considering switching from Jest to Karma. (And maybe from CircleCI to TravisCI?) Jest doesn't seem particularly well suited for browser libraries (but I could be wrong!). Deeplearn.js uses Karma and Travis so mirroring their workflow makes a lot of sense. (Big thanks to @dariusk for all of the thoughts and advice about this today!)

Tagging @nsthorat and @dsmilkov for any thoughts from thei

[2018-03-01 20:02] shiffman opened #77 "Handing errors"
Thanks also to @dariusk I'm writing this issue to open a discussion about error handling. We should develop a plan and style guide for handling errors. At a minimum we should have custom console.logs to give users information about errors, but we should likely use some sort of `try`, `catch`, `throw` magic.

A good example scenario as demonstrated by @dariusk is the following:

[code]

Right now t

[2018-03-01 20:03] shiffman opened #78 "Milestones"
I propose setting up a milestone for our March 15 trip to Boston to show ml5. And then perhaps a milestone for the end of the semester? Thoughts?

[2018-03-01 20:04] nsthorat commented on #41
I don't know much about Jest, but Karma + Jasmine have worked great for us. Works great on [browserstack](https://www.browserstack.com/) (if you want to run tests on real devices for free).

[2018-03-02 00:12] shiffman commented on #77
Oops, I forgot I opened #65 already!  Will keep this issue in lieu of that one, but will note here that another scenario is trying to use a model before it is loaded!

[2018-03-02 00:12] shiffman commented on #65
Moving discussion to #77!

[2018-03-02 00:12] #65 closed

[2018-03-02 14:59] dariusk commented on #78
When is the end of the semester?

[2018-03-02 15:07] shiffman commented on #78
Middle of May-ish. But everything really shuts down as we get to the end of April and thesis + spring show + graduation. So I would propose probably an end of April milestone and/or June milestone?

[2018-03-02 15:39] cvalenzuela commented on #78
I like the idea! Should it be structured around some of the issues?
I think migrating to the new dl API (#57) should be a milestone for March 15, we'll get much more feedback

[2018-03-02 15:52] dariusk opened #80 "Google Cloud Storage permissions breaking MobileNet classification"
The image/video classification examples (and classification generally) no longer work due to a change in permissions on the Google Cloud Storage resources that we remotely fetch.

Example:

https://itpnyu.github.io/ml5/docs/video-classification-example.html

We get a 403 Access Denied when fetching the MobileNet model, which you can see right here:

https://storage.googleapis.com/learnjs-data/chec

[2018-03-02 16:41] cvalenzuela commented on #80
nice catch! We can switch to have the demos working with SqueezeNet if MobileNet is down for now.

Adding @nsthorat and @dsmilkov, I think they can provide some insights on this issue!

[2018-03-02 17:25] shiffman commented on #78
The "Boston" milestone is now available for us to start adding issues to:

https://github.com/ITPNYU/ml5/milestones

[2018-03-02 17:27] shiffman commented on #56
It would be great to have this for our Boston presentation (not a finished page, but something to show to start.) I'm adding that as a milestone is is ok that I assign you @handav?

[2018-03-02 17:29] shiffman commented on #23
This would be great to show for the March 15 milestone. I am happy to do it, but if anyone wants to work on this let me know and I can help facilitate.

[2018-03-02 17:42] cvalenzuela commented on #63
#65 is following this now.

[2018-03-02 17:42] #63 closed

[2018-03-02 17:44] cvalenzuela commented on #45
As a reference, @matamalaortiz made it into a small package: https://github.com/matamalaortiz/ml5-recorded-videos-training

Closing this for now

[2018-03-02 17:44] nsthorat commented on #80
Apologies! Should be fixed now.

[2018-03-02 17:50] cvalenzuela commented on #80
awesome, thanks!

[2018-03-02 18:00] cvalenzuela opened #82 "Website re-design"
@nikitahuggins has been working on some logo designs and @matamalaortiz and I were discussing redesigning the page and styles. I think it might be something we can have ready for the first milestone.

ideas?

[2018-03-02 18:38] shiffman commented on #82
tagging @nikitahuggins!

[2018-03-02 19:07] handav commented on #56
Absolutely. I’ll focus on it next week!

[2018-03-03 01:13] shiffman commented on #56
Yay!

[2018-03-04 15:55] shiffman commented on #45
Perhaps we should open a new issue to track or revisit later?  I do think having a mechanism in the library via a saved JSON file and/or localStorage is worth researching. I'm pretty sure the `KNNImageClassifier` does not alter the original SqueezeNet or MobileNet model so we should just be able to save just the feature vectors that come out of each training image themselves. @nsthorat do you know

[2018-03-04 16:09] nsthorat commented on #45
@jameswex who did something similar.

We released a new version of KNN image classifier which has two methods, `getClassLogitsMatrices()` and `setClassLogitsMatrics()` which you can use to serialize and deserialize. This /just/ landed in the latest version of KNN image classifier, so update your package dep :)

Let me know if you have any more questions.

[2018-03-04 17:51] cvalenzuela commented on #45
awesome! We will update then!

[2018-03-05 08:18] ToonTalk opened #83 "Are there any plans to create an example that uses a microphone instead of a camera?"
Maybe similar to the KNN Image Classifier

[2018-03-05 21:20] cvalenzuela commented on #83
There are no specific plans to build something like that yet, but you are welcome to contribute one!

[2018-03-05 21:22] cvalenzuela commented on #83
As a reference, it would be nice to have something like this:

http://smus.com/web-voice-command-recognition/

[2018-03-05 22:39] handav opened #85 "Where to put entire datasets"
@cvalenzuela pointed out that data currently lives in /docs/assets/, though it looks like /data mostly holds trained output or something and /img looks mostly like singular images. How does everyone feel about adding /datasets under /assets to hold entire datasets?

[2018-03-05 22:47] cvalenzuela commented on #85
Since we are moving to a new github handle, maybe having a repo just for datasets can be useful

[2018-03-06 00:30] shiffman commented on #76
A note that the repo is moving right now!

[2018-03-06 00:39] shiffman commented on #76
@cvalenzuela would you like to take care of breaking out the website and moving it to `ml5js.github.io` and I'll take care of moving the examples to `ml5-examples`?

Since this is a new project, I think we can just delete the files from this repo (retaining the history) and start fresh in the new repos.

[2018-03-06 00:43] cvalenzuela commented on #76
Sure! I'll do the website

[2018-03-06 00:44] cvalenzuela commented on #76
should we also have a repo with plain js examples?

[2018-03-06 00:47] shiffman commented on #76
For now let's maybe just stick to one repo which can house both plain and p5 examples?

[2018-03-06 00:48] shiffman commented on #85
I'm game for a datasets repo! However, I wonder if having them in the "examples" repo would make sense -- do we imagine having datasets that don't pair with an example?

[2018-03-06 00:48] cvalenzuela commented on #76
ok! sounds good

[2018-03-06 04:00] cvalenzuela opened #87 "Move issues to specific repos"
We should move some issues to the repos where they now correspond (like #82 and #56 to the website repository). It seems Github does not support migration issues between repos, but we can use this [issue mover](https://github-issue-mover.appspot.com/) google made.

[2018-03-06 04:18] cvalenzuela commented on #85
Maybe a repo with Training and Datasets would make more sense? moving the current `/training` folder to a separate repo makes sense to me

[2018-03-06 14:17] dariusk commented on #85
Also if you put datasets in a repo they could be included as a dependency in non-ML5 projects.

[2018-03-06 15:20] dariusk opened #89 "Bug: most (all?) image classification examples are broken"
For example, see this mirror of the basic getting started example:

http://tinysubversions.com/temp/ml5-test/

It does eventually classify the image but it also makes hundreds of remote fetch requests and keeps throwing arcane errors.

![image](https://user-images.githubusercontent.com/266454/37040433-d3694fdc-2127-11e8-987b-cf645c10e561.png)

Similar things are also happening on the documentation

[2018-03-06 16:47] cvalenzuela commented on #89
Something must have broke when moving the projects. I'm investigating it now.

[2018-03-06 17:02] cvalenzuela commented on #89
I think it relates to this: https://github.com/PAIR-code/deeplearnjs/pull/812

We need to update our dependencies to dl 0.5.0 since the fetching is now downloading the weights for that.

[2018-03-06 21:29] shiffman commented on #57
@cvalenzuela Let's try to allocate some time to looking at this tomorrow during our meeting?

[2018-03-06 21:51] shiffman opened #92 "Supporting p5's preload() for loading models"
For beginners it's wonderful to support p5's `preload()`. I noticed some of our examples already include `preload()` for loading models. This may, in fact, be working just fine but I am opening an issue as a reminder to check if they are functioning correctly and that we are conforming to the p5 preload system. Here are some relevant links:

* [p5 preload wiki documentation](https://github.com/pro

[2018-03-06 21:58] shiffman commented on #85
Sold! Should we call it:

* ml5-data
* ml5-training-data
* ml5-datasets
* ml5-data-and-training

??

[2018-03-06 22:00] shiffman commented on #87
We have few enough issues that I think it's possibly ok to leave the issues as is. More motivation to close the ones that are in the wrong repo! New issues obviously should be opened in the correct repo. If it's causing confusion we can manually close and re-open a handful in the right place.

[2018-03-06 22:14] cvalenzuela commented on #85
+1 for ml5-data-and-training

[2018-03-06 22:20] handav commented on #85
I like that too! Or ml5-training-data, though ml5-data-and-training is a
little bit clearer.

On Tue, Mar 6, 2018 at 5:14 PM, Cristóbal Valenzuela <
notifications@github.com> wrote:

--
www.hannahishere.com

[2018-03-06 22:25] cvalenzuela commented on #87
Ok! sounds good

[2018-03-06 22:25] #87 closed

[2018-03-07 01:09] yining1023 opened #93 "Add documentations about how to train your own fast style transfer model"

[2018-03-07 16:16] #80 closed

[2018-03-07 16:21] dariusk opened #94 "Should Word2Vec data live with the rest of the models?"
https://github.com/ml5js/ml5js.github.io/tree/source/docs/assets/data/wordvecs

We have a bunch of word2vec models in the `docs/assets/data/wordvecs/` folder on the website deploy, which is of course necessary for the examples to work. But these should probably also live with the rest of the models, right? (whether here or in whatever training-and-models repo we end up making)

[2018-03-07 16:38] shiffman commented on #94
Yes, I agree that the word2vec models should be with the data/training repo. I am a bit concerned about the redundancy in terms of keeping track / maintaining everything.

If I'm right the word2vec JSON files would be in:

* ml5js.github.io for website to work
* ml5-examples for word2vec examples to work
* ml5-data for stand-alone datasets, models, etc.

Is this too much?

[2018-03-07 17:09] dariusk commented on #94
Well, if we can include `ml5-data` as a dependency (or submodule) in the website and examples repo then it won't be an issue!

[2018-03-07 20:04] shiffman commented on #94
Thanks! I have found in the past that submodules can be confusing and make it difficult for beginners to contribute to a project. Maybe we split the difference and try the submodule for the website but duplicate the files for the examples?  I suppose we could start with redundancies and add submodules in later after we gain some momentum. . . I am probably guilty of overthinking this.

[2018-03-07 20:22] shiffman commented on #85
The repo is live! (@handav you should have admin privileges but feel free to add datasets via pull requests so we get notified. For simple and quick changes like README updates, etc. I think writing directly to master is a-ok! And happy to sit down and go through this with you of course.)

[2018-03-07 20:23] shiffman commented on #85
(Will leave this issue open until we move some of the data itself.)

[2018-03-08 03:58] micuat commented on #89
I got the same error and wondering what this is. I'm pasting the error message below (it's the same as @dariusk 's screenshot but I thought text version may be helpful for those who use search bar on the issue page)

[code]

[2018-03-08 16:25] cvalenzuela commented on #89
Major updates will come in the next days, fixing this and other bugs

[2018-03-09 22:19] cvalenzuela commented on #76
this seems resolved. First issue for the Boston milestone!

[2018-03-09 22:19] #76 closed

[2018-03-11 01:29] shiffman commented on #23
Moving this to `ml5-examples`.

[2018-03-11 01:29] #23 closed

[2018-03-11 01:29] shiffman opened #892 "p5.js web editor examples"
Moving https://github.com/ml5js/ml5-library/issues/23 to here. Would be great to have the p5 examples all running in the web editor. These can be linked from README's associated with each example as well as from the website.

[2018-03-11 01:31] shiffman commented on #78
Milestones don't work across repos. So if an `ml5-examples` issue is for the [Boston mileston](https://github.com/ml5js/ml5-library/milestone/1) I can't add it unless I create a duplicate milestone in that repo. Is a "Project" what we want in this case? Maybe @dariusk wants to relay some more wisdom (hope your trip out of NYC was smooth!)

[2018-03-12 19:26] dariusk commented on #94
Submodules do indeed confuse beginners (and intermediate users and experts). Redundancy is probably fine instead!

[2018-03-12 19:26] #94 closed

[2018-03-13 01:19] shiffman opened #98 "ImageNet and KNNImageClassifier"
I'm wondering what the best naming is for`ImageNet` and `KNNImageClassifier`. The following to me is a little confusing:

![screen shot 2018-03-12 at 9 14 21 pm](https://user-images.githubusercontent.com/191758/37317306-7e613b22-263a-11e8-87fa-8fcc58276f1f.png) ![screen shot 2018-03-12 at 9 14 24 pm](https://user-images.githubusercontent.com/191758/37317309-82779936-263a-11e8-901a-97add2d718ce.png

[2018-03-13 03:19] cvalenzuela commented on #98
Yes, that's totally true. The ImageNet name was inherited from the imagenet example in deeplearn.js (https://deeplearnjs.org/demos/imagenet/) but I agree that it does not makes much sense to the end user.

I like `let classifier = new ml5.ImageClassifier('ModelNet');`

[2018-03-13 03:24] cvalenzuela commented on #82
@matamalaortiz is working on this, I'm closing this and adding a new thread on the website repo

[2018-03-13 03:24] #82 closed

[2018-03-13 03:26] cvalenzuela commented on #85
All data has been moved!

[2018-03-13 03:26] #85 closed

[2018-03-13 03:28] cvalenzuela commented on #57
closed by #97 :tada:

[2018-03-13 03:28] #57 closed

[2018-03-13 03:31] cvalenzuela commented on #70
The new examples structure addresses this issue. We now have a folder with p5js examples only and another folder with 'vanilla' javascript examples.
Closing this for now, but we can re-open this thread if necessary in the examples repo

[2018-03-13 03:31] #70 closed

[2018-03-13 03:33] cvalenzuela commented on #18
This relates to the old examples and API.
Closing this since we don't have an MNIST example and https://github.com/CodingTrain/Toy-Neural-Network-JS address this demo better!

[2018-03-13 03:33] #18 closed

[2018-03-13 03:35] cvalenzuela commented on #8
Same as #18, eventually we'll have a higher Neural Network method.
ref: https://github.com/CodingTrain/Toy-Neural-Network-JS

[2018-03-13 03:35] #8 closed

[2018-03-13 03:38] cvalenzuela commented on #74
This seems resolved. @carlosgalveias, feel free to re-open if necessary

[2018-03-13 03:38] #74 closed

[2018-03-13 03:42] cvalenzuela commented on #15
This seems resolved. #92 and #27 are following updates on this in separate threads.

[2018-03-13 03:42] #15 closed

[2018-03-13 03:48] cvalenzuela commented on #10
Since we have the new datasets repo, I'm opening a new thread there:

https://github.com/ml5js/ml5-data-and-training/issues/2

[2018-03-13 03:48] #10 closed

[2018-03-13 03:52] cvalenzuela commented on #93
The datasets repo is a better place to follow this: https://github.com/ml5js/ml5-data-and-training/issues/3

[2018-03-13 03:52] #93 closed

[2018-03-13 04:44] handav commented on #85
I still have to put my dataset up though! I just have to weed out the ones that people tagged as being flawed, and then I'll get it up. Aiming to do that and the music LSTM by Thursday.

[2018-03-13 10:41] shiffman commented on #98
Great! I've added a new "API" label for discussions around function naming, etc.

[2018-03-13 15:32] cvalenzuela commented on #85
cool! we can follow this on #56 too.

[2018-03-13 19:41] cvalenzuela commented on #45
#99 closes this. Now this is possible:

[code]

[2018-03-13 19:41] #45 closed

[2018-03-13 19:41] cvalenzuela commented on #98
Solved by #99

[2018-03-13 19:41] #98 closed

[2018-03-13 20:04] shiffman commented on #98
Woohoo!

[2018-03-13 20:39] shiffman opened #102 "Support Strings as labels/classes for KNNImage"
See discussion here: https://github.com/ml5js/ml5js.github.io/pull/18

[2018-03-18 00:59] jonathan-richer opened #104 "The API Reference"
The API reference in the `README.md` file which leads to `https://ml5js.github.io/docs/imagenet.html`
is not avalible

[2018-03-20 09:00] shiffman opened #105 "LipNet class"
This might be interesting to integrate at some point (esp since there is a keras example)

https://arxiv.org/abs/1611.01599
https://github.com/rizkiarm/LipNet

[2018-03-20 21:48] vndrewlee commented on #54
hello!

I am new to javascript and open source, but this seemed like a good place to start.

https://beta.observablehq.com/@vndrewlee/bare-minimum-ml5-demo

I've gotten the bare minimum working here, but there is a bug. The final cell must be re-run manually.

I'm not sure how to wait until the model is fully loaded before running the last cell. The model's `ready` flag never seems to change. Is i

[2018-03-20 21:57] cvalenzuela commented on #54
Hi Andrew!

It seems there's a bug, the `this.ready` property never changes. It should change right [here](https://github.com/ml5js/ml5-library/blob/master/src/Word2vec/index.js#L22)
You are welcome to submit a PR to fix it!

Using `this.modelSize` should be safe for now.

[2018-03-21 12:54] vndrewlee commented on #28
The iris dataset is popular for kmeans demos. There are only four dimensions so it's relatively simple to visualize the clusters.

If the intended audience is new to machine learning, the results can be visualized without additional concepts such as PCA.

also, I believe the example is now here: https://github.com/ml5js/ml5-examples/tree/master/p5js/WIP_clustering/kmeans

[2018-03-21 13:26] vndrewlee commented on #54
I found using a `Promise` seems to work well and have updated my demo.

https://beta.observablehq.com/@vndrewlee/bare-minimum-ml5-demo

[2018-03-21 17:30] cvalenzuela commented on #54
great!
are you planning to make more notebooks like this?

[2018-03-21 17:34] vndrewlee commented on #54
Yup, I could start with recreating some of the existing documentation.

My main concern is that I don't think P5 works in an Observable notebook.

Would you still want to continue down the Observable notebook route if P5 can't be used?

[2018-03-21 17:42] shiffman commented on #54
Hi @vndrewlee! Thanks for your contribution!

I think right now we're in the highly experimental, try everything stage so I would go with whatever makes things easier for you to demonstrate.

If at some point we are embedding the observable notebooks into the ml5 website we probably need to be more careful / thoughtful about how we use p5, but if we are just linking to them as additional resources

[2018-03-21 21:11] vndrewlee opened #106 "word2vec ready property never updates"
It seems there's a bug, the this.ready property never changes.

[2018-03-21 23:15] #106 closed

[2018-03-22 16:43] vndrewlee commented on #54
thanks for the feedback!

I'm working through a k-means clustering example as a first effort.

I'm mostly using deeplearn directly with a bit of d3 and vegalite

[2018-03-28 17:29] cvalenzuela commented on #54
@tmcw made this really cool tutorial on using p5+Observable

https://beta.observablehq.com/@tmcw/p5

[2018-03-31 18:59] shiffman opened #108 "tensorflow.js!"
Congrats @nsthorat and @dsmilkov! Ultimately this discussion will percolate into individual issues, but I thought I would open a thread for any discussion about integrating the new tensorflow.js, replacing the deeplearn.js dependency!

In particular I'm excited to start wrapping some basic keras examples for neural network training in the browser. More soon!

[2018-03-31 22:22] nsthorat commented on #108
We're looking forward to seeing what you build :)

Please let us know if there's anything we can help with / if there's something we don't support. If you haven't seen the 0.6 release notes / deeplearnjs => tensorflowjs migration guide, check them out here: https://github.com/tensorflow/tfjs-core/releases/tag/v0.6.0

On the layers side, @caisq is a great contact as he wrote much of the code / know

[2018-04-09 15:56] cvalenzuela commented on #56
this is being addressed in [ml5js.github.io #25](https://github.com/ml5js/ml5js.github.io/pull/25)

[2018-04-09 15:56] #56 closed

[2018-04-09 15:58] cvalenzuela commented on #78
Since most of the milestones for the Boston presentation were covered. I propose we create a new set of milestones for the end of the semester. At least, we should include #108, #102 and #41.
@shiffman?

[2018-04-09 16:28] yining1023 commented on #102
I can make some changes to let it support both labels and numbers -
[code]

[2018-04-09 16:31] cvalenzuela commented on #102
thanks @yining1023! I'm refactoring to the new tensorflow api and this is being covered in those changes. I forgot to assign it

[2018-04-09 19:44] shiffman commented on #78
Yes, I agree! Would it make sense to set the milestone for a date a week or two after the semester, perhaps end of May? I expect there will be 2-3 weeks during thesis and the show where work on this project will slow down. Let's discuss ideas for "event" for June that can also serve as a deadline. Perhaps we should do a `0.1.0` beta release? That would be exciting!

[2018-04-09 22:27] cvalenzuela commented on #78
That sounds good to me! We should plan to host a workshop session at ITP. It could maybe be part of the ITP camp.
I'm guessing the website should also be ready for then

[2018-04-19 14:18] shiffman opened #111 "CREPE Pitch Estimation"
This is a new model / demo for doing pitch estimation with a convolutional neural network / tensorflow.js. Noting here as a possible example / class for ml5.

https://marl.github.io/crepe/
https://marl.github.io/crepe/crepe.js
https://arxiv.org/abs/1802.06182

Possibly related to @handav's work with magenta models.

[2018-04-19 14:25] shiffman commented on #83
Related to #111!

[2018-04-19 14:26] shiffman commented on #32
We have adopted the MIT license with some exceptions (see the data repo) for this project.

[2018-04-19 14:26] #32 closed

[2018-04-19 14:27] cvalenzuela commented on #78
Closing this, since we now have the [Summer Milestone](https://github.com/ml5js/ml5-library/milestone/2)

[2018-04-19 14:27] #78 closed

[2018-04-19 14:28] shiffman opened #112 "Generic "neural network" class?"
With tensorflow.js I would like to make a generic `NeuralNetwork` class that is a thin layer on top of a Keras `Sequential` with just maybe a single dense layer or something?  (I also want to do a generic Convolutional network and possibly other common architectures?)

This relates to @lisajamhoury's idea of training with Kinectron data.

[2018-04-19 14:59] cvalenzuela commented on #55
I'm moving this to the [ml5-data-and-trainingo#8](https://github.com/ml5js/ml5-data-and-training/issues/8)

[2018-04-19 14:59] #55 closed

[2018-04-19 15:25] shiffman opened #113 "Reinforcement Learning and/or NeuroEvolution"
At some point we thinking about having reinforcement learning and/or neuro-evolution-style reinforcement learning examples in ml5. Some references:

With Genetic Algorithms and vanilla JS neural network
* https://github.com/shiffman/NOC-S18/tree/master/week10
* https://github.com/CodingTrain/Toy-Neural-Network-JS

Deep Q Learning
* https://github.com/MorvanZhou/Reinforcement-learning-with-tensorfl

[2018-04-19 17:34] handav commented on #111
This looks amazing! I'm still trying to understand how to port models over
from tfjs to ml5, but I'll add this one to the list.

On Thu, Apr 19, 2018 at 10:18 AM, Daniel Shiffman <notifications@github.com>
wrote:

--
www.hannahishere.com

[2018-04-19 21:40] shiffman commented on #113
Another good reference thanks to @hardmaru!

http://paulsoulos.com/blog/2016/08/10/agent-perception-and-learning.html

[2018-04-19 22:51] hardmaru commented on #113
Last year I wrote 2 articles about Evolution Strategies that might be a useful reference for beginners to intermediate users of evolutionary methods:

A Visual Guide to Evolution Strategies:
http://blog.otoro.net/2017/10/29/visual-evolution-strategies/

Evolving Stable Strategies:
http://blog.otoro.net/2017/11/12/evolving-stable-strategies/

[2018-04-23 19:53] handav commented on #111
Just a FYI that I'm working on this this week.

[2018-04-23 19:59] handav commented on #108
A thread for errors from the npm tensorflow install https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/tfjs/IBVehwfwGQs/CEZSAmORCwAJ

[2018-04-23 20:12] nsthorat commented on #108
Were you running into any issues with building tf.js?

[2018-04-23 20:45] handav commented on #108
Turns out it was because it was running up against the deeplearn install in the library. Fixed now (thanks @cvalenzuela!)

[2018-04-23 21:12] nsthorat commented on #108
Okay let us know if you have any issues. We've seen this a million times now :). Our latest version should not throw an error anymore, it should just warn when there are two copies.

[2018-04-26 21:38] jonathan-richer opened #114 "Minified files?"
In the ./dist/, every files are minified??? #

[2018-04-26 22:25] cvalenzuela commented on #114
Thanks for pointing that out, ml5.js should not be minified.

[2018-04-27 03:13] MikeShi42 commented on #26
Hello! Happy to answer any questions you might have when trying to port :) (though not sure what that scope entails haha)

[2018-04-27 18:18] cvalenzuela commented on #26
Hi @MikeShi42! We were working on adding a YOLO method to this library but it seems you already did a great work of wrapping it in an easy interface! Do you mind if we use part of your source code and add it here?

[2018-04-28 00:38] MikeShi42 commented on #26
Absolutely! It'd be awesome if wherever you find appropriate you could give a shoutout/credits to modeldepot.io just to help us out a bit (though ofc it's MIT licensed so it's do as you wish haha).

If you do any awesome work on cleaning up the code/tests, we'd love a PR back as well to help make the NPM package more stable <3 :)

[2018-04-28 21:03] kaichehung opened #116 "Missing step in the ML5 Python setup tutorial"
In the [python environment setup](https://ml5js.github.io/docs/training-setup.html
)  step 5, after create the requirements.txt, missing the python command which install all the packages in the requirement.txt.

[2018-05-01 22:16] kwichmann commented on #113
I am currently fiddling with a small library for reinforcement learning, specifically for learning action value functions - Q-learning is a subset of these algorithms. I'm hoping to support arbitrary approximations function (including neural networks) as well as action replay and fixed q-targets.

I'll post more once I get a workable prototype up and running.

[2018-05-03 01:52] shiffman opened #118 "LSTM generator default seed"
Picking up off of #16 and discussion in #117, we should come up with a more generic seed (or else an error if no seed) for the LSTM `generate()` function. A default seed of `a` is too arbitrary. I would suggest a random character that is present in the model?

[2018-05-03 18:24] jwoa opened #119 "Compatibility with Electron (KNN Image Classification)"
Hey,

I am new to ML5 and I just want to say that this library is awesome. I've had no problem working with the library in the Chrome browser but I have issues when trying to run the code in Electron.

I am currently experimenting with Electron and I wanted to implement the [KNN Image Classification demo](https://ml5js.github.io/docs/knn-image-example.html) into it. However, after following the in

[2018-05-03 18:58] shiffman opened #120 "Batches of Data"
Thanks to advice from @kylemcdonald, I'm thinking about some API for creating batches of data. For training / prediction, it's often optimal to send in a batch of data due to the work required to move data on and off the GPU. But this can be very confusing for beginners. Even though it's essentially just another dimension to the array of data, an API to create batches might be helpful. For example

[2018-05-03 19:09] shiffman opened #121 "New Classifier / ImageClassifier API"
This thread is for discussion about how to move these in-progress examples from here https://github.com/shiffman/Tensorflow-JS-Examples to ml5.

[code]

Things to discuss:
* What is the default model architecture?
* What arguments are specified via the constructor?
* Do we create a default "Regressor" and what's a better name for that?
* Is the ImageClassifier the same as the one we are using with

[2018-05-03 22:11] cvalenzuela commented on #119
Hi @jwoa,

It looks like the webcam is not being initialized in Electron. How are you creating a video stream?

glad you liked the library 😄

[2018-05-04 00:48] jwoa commented on #119
@cvalenzuela Hey! I used the same code from the example and it works to an extent. The webcam shows up in my electron window:

`<div id="videoContainer"><video></video></div>`

[code]

[2018-05-04 16:42] cvalenzuela commented on #119
You need to wait until the video has loaded before adding images to the classifier. The `Requested texture size [0x0] is invalid` is triggered because of adding an image without content

[2018-05-04 18:34] jwoa commented on #119
Any idea on how I would do that through the code? Or is it actually a matter of me just waiting a while before clicking on the training buttons?

[2018-05-04 19:33] nonoesp commented on #11
Hi all!

@garciadelcastillo and myself have been working on modularizing SketchRNN for a few projects to generate a drawing prediction from an input set strokes. I hope this can help porting SketchRNN to the ml5-library.

Right now, this [simple_predict.js](https://github.com/nonoesp/smartgeometry/blob/master/libraries/sketch-rnn/simple_predict.js) module has the logic to load a model from a local

[2018-05-04 23:29] cvalenzuela commented on #11
Hi @nonoesp!

This looks very cool! It would be awesome to have to a `ml5.SketchRNN()` class!

I imagine we could have a collection of models and a few examples to play with. The model you are using are not in the repo you linked to? I couldn't find them. Just wondering if you are preprocessing them in any way.

If you and @garciadelcastillo are interested, I will be glad to help push a PR to inco

[2018-05-04 23:36] garciadelcastillo commented on #11
Hi @cvalenzuela,

We have been working a lot with the library these days, would be happy to find some time to do a formal PR. However, some thoughts:

- We are currently wrapping the Sketch-RNN functionality inside an http server, and serving it via POST requests. I wonder how `ml5` serves other similar models and deals with models-as-a-service (`MaaS'? :boom:)

- All the trained models (which we

[2018-05-05 00:17] nonoesp commented on #11
Hi @cvalenzuela! I'd be glad to help with this as well.

Here is a [list with all the generative models](https://gist.github.com/nonoesp/4d0b77c44caa1b0cfd641e5cc70821f2#file-sketchrnn-models-urls). By changing `gen` to `vae` you can download the full variational auto-encoder model (which allows to use latent vectors). It would make sense to download them on-demand as in the [sketch-rnn demo](http

[2018-05-05 18:57] cvalenzuela commented on #11
thanks @nonoesp and @garciadelcastillo!

What kind of functionality are you wrapping in the server? Or is it just serving the .json files?

We tried to keep ml5 as "client-side" as possible. We just fetch weights, when necessary, from a constant URL to keep the library small. So if the server you are running is just storing the urls for those .json files, I imagine that an on-demand approach will

[2018-05-06 16:59] shiffman commented on #113
Another interesting reference!

https://worldmodels.github.io/

[2018-05-06 17:14] shiffman commented on #11
I am so excited about this! I can imagine a server-side component for ml5 eventually but I agree with @cvalenzuela that coming up a client-side only example first would be great. With ml5 we are also not as concerned with perfection/accuracy as we are with ease of use and friendliness. So sacrificing some quality for smaller model files is something we can explore/discuss too.

I wonder as a step

[2018-05-07 03:09] hardmaru commented on #113
Thanks, world models was built using p5.js, TensorFlow.js and evolution strategies.

A while back I made a p5.js demo that used neuroevolution to solve a swing-up inverted double pendulum problem:

http://otoro.net/ml/pendulum-esp-mobile/

This type of problem is very challenging for Q-learning to solve (I tried really hard when DeepRL was hyped up back then..)

[2018-05-09 14:22] lastnod opened #122 "crossover and mutate functions"
Just a feature request ! :)

Could you implement a crossover function in order to perform reinforcement learning ? (genetic algorithm for me :) )
and obviously with crossover we need a simple mutate function to tune weight, maybe with possibility to put your own tuning function like gaussian distribution.

i hope it's not already implemented !

[2018-05-09 18:59] shiffman commented on #113
Another nice one!

http://web.sfc.keio.ac.jp/~t15704yn/falling/index.html

[2018-05-09 22:00] Vooxelfr commented on #122
Hello, untel you are waiting for something, perhaps This Work can help you
https://wagenaartje.github.io/neataptic/
It will be great for This two repo to merge don’t you think.

It will Also be great that an a3c asynchronous advantage actor-critic algorithm be implemented.

Just imagine some people creates Games in js and every computer with just a browser open for one of these Games training a si

[2018-05-10 03:00] cvalenzuela commented on #122
Totally something we want to add! @shiffman has some examples we want to port at some point: https://github.com/shiffman/The-Nature-of-Code-Examples/tree/master/chp09_ga

Also happy to help if you want to contribute this!

[2018-05-11 15:14] shiffman opened #123 "Autoencoders"
Making a note to explore a high level wrapper for variational autoencoders to generate images / other content.

[2018-05-14 14:01] j2l opened #124 "There has been a problem loading the vocab: e is not a function"
I'm very new to ML5 and I can't fix this error:
`There has been a problem loading the vocab: e is not a function`

I'm following website's example:
[code]

If you want, you can remix [it](https://glitch.com/edit/#!/pineapple-paste), edit and paste your link so I can see how to make it work.
Thank you for your help!

[2018-05-14 15:28] cvalenzuela commented on #124
Hi @j2l, I think you are missing the model for `/hemingway`

You can find the model here: https://github.com/ml5js/ml5-examples/tree/master/p5js/LSTM_Text/models/hemingway
Add that folder to the root of your project

[2018-05-14 15:43] shiffman commented on #28
Adding to this thread a good reference for t-SNE by @enjalot

https://distill.pub/2016/misread-tsne/

[2018-05-14 15:55] j2l commented on #124
Thanks but I already did that. It finds the vocab.

[2018-05-23 20:05] shiffman opened #125 "Projects! (instead of milestones)"
Hi all! I am learning the wonder that is github projects and moving everything over from a milestone to a project. This issue is my first "to do": move all milestone issues across all repos over to project.

[2018-05-23 20:12] shiffman commented on #125
oops forgot the project link: https://github.com/orgs/ml5js/projects/2

[2018-05-23 20:12] shiffman commented on #125
Ok I added all the existing milestone issues so am closing this and watching how it magically moves into the "done" column?

[2018-05-23 20:12] #125 closed

[2018-05-23 20:44] shiffman commented on #121
Notes from a discussion today:

[code]

The `ImageClassifier` could be created also with a pre-trained model:

[code]

[2018-05-24 14:38] arguiot opened #126 "Change website link"
Change your website link to https://ml5js.org

[2018-05-25 01:37] shiffman commented on #126
Thanks! You can track this issue here: https://github.com/ml5js/ml5-website/issues/1

At the moment I'm just waiting for this to resolve.

<img width="709" alt="screen shot 2018-05-24 at 9 37 11 pm" src="https://user-images.githubusercontent.com/191758/40521659-a704a296-5f9a-11e8-90b6-9b054ba61d9f.png">

[2018-05-25 01:38] shiffman commented on #126
Oh I see, this issue is probably referring to places in the library where we reference `ml5js.github.io`, leaving open to investigate!

[2018-05-25 02:51] arguiot commented on #126
Yeah, it gives a 404 error

[2018-05-31 16:09] genekogan opened #128 "new classification & regression examples"
hey all!

i made some new image classification and regression (transfer learned from mobilenet) demos for a workshop this week, which use tf.js to control p5. see https://ml4a.github.io/demos/tfjs

basically i stripped off pacman from their pacman example for the 2 classification demos (simple + sound), and then modified it to do regression of a single slider (simple + pong). also wrapped the pose

[2018-05-31 16:18] shiffman commented on #128
Wow, I just quickly checked these out, awesome! We have the transfer learning stuff in progress for image classification but I hadn't thought about applying it with regression in the way that you have. These would definitely be useful! I'm happy to collaborate with you to turn these into JavaScript classes that work with ml5 if you want to keep plugging away at the tf.js stuff.

[2018-05-31 16:19] genekogan commented on #128
yah i think a simple regression example will definitely be nice to have. yeah i'd be happy to contribute it. where is the in-progress class?

[2018-05-31 16:38] #104 closed

[2018-05-31 16:39] shiffman commented on #128
It just got merged #117. See: https://github.com/ml5js/ml5-library/tree/master/src/ImageClassifier and also #121.

[2018-05-31 16:57] genekogan commented on #128
ah perfect!

a regression class would look almost identical to this. just glancing quickly, i believe the only differences would be:

 - `kernelInitializer: 'Zeros', activation: 'linear'` in the last dense layer
 - when you add an example, `const y = tf.tidy(() => tf.tensor2d([label]));` instead of one-hot.
 - optimizer would use `loss: 'meanSquaredError'` instead of cross-entropy.
 - in predictio

[2018-05-31 16:59] shiffman commented on #128
Cool, do you have any thoughts on the naming? An `ImageClassifier` makes perfect sense but an `ImageRegressor` sounds weird and the term "regression" for all its simplicity is intimidating.

* `ImageSlider`
* `ImageRegressor`
* `ImageRegression`

???

Or is it still the `ImageClassifier` but a flag to turn on regression?

[code]

[2018-05-31 17:22] genekogan commented on #128
ah yeah tough call. regressor is correct, but i've always found it awkward too.  i don't have a strong opinion either way, though i think using it as a flag for ImageClassifier is a bit confusing since it's not classification.  what if instead of `ImageClassifier` you have `ImagePredictor` with two modes? i.e.

[code]

[2018-05-31 19:17] cvalenzuela commented on #128
This look amazing! Regardless of how a new class integration might look, we should also work on adding those examples to the examples repo: https://github.com/ml5js/ml5-examples

In terms of naming, we could also use something like this:
[code]

[2018-06-01 01:50] shiffman commented on #128
@cvalenzuela I like this `asRegression()` idea! It makes a lot of sense given that we are starting with the `ImageClassifier` in the first place. Thanks for this idea @genekogan!

[2018-06-01 01:55] genekogan commented on #128
i'd avoid conflating the two, personally, as regression is not a form of classification or vice-versa.

[2018-06-01 02:06] cvalenzuela commented on #128
Agree! Maybe something like
[code]
That may suggest the idea that the `slider` uses a classifier together with a regression?

[2018-06-01 02:07] shiffman commented on #128
@genekogan yes, I agree about mixing up the two and being careful about it being confusing!

This is how I'm thinking about it.  We start with `MobileNet` which is a model trained for classification. So the user first creates an `ImageClassifier` object with MobileNet.

[code]

The classifier can be used as is or can be modified with transfer learning (still a classifier). However, another scenari

[2018-06-01 18:35] cvalenzuela commented on #26
closed by https://github.com/ml5js/ml5-library/pull/117

[2018-06-01 18:35] #26 closed

[2018-06-01 18:35] cvalenzuela commented on #108
closed by https://github.com/ml5js/ml5-library/pull/117

[2018-06-01 18:35] #108 closed

[2018-06-01 18:36] cvalenzuela commented on #102
closed by https://github.com/ml5js/ml5-library/pull/117

[2018-06-01 18:36] #102 closed

[2018-06-01 18:36] cvalenzuela commented on #118
closed by https://github.com/ml5js/ml5-library/pull/117

[2018-06-01 18:36] #118 closed

[2018-06-01 19:28] cvalenzuela commented on #111
closed by https://github.com/ml5js/ml5-library/pull/115

[2018-06-01 19:28] #111 closed

[2018-06-01 20:15] shiffman opened #131 "Crepe class in progress"
Just a note that I was doing some work on the Crepe class here in this branch:

https://github.com/ml5js/ml5-library/tree/crepe-linting

Apologies for leaving this half-finished, will complete soon!

[2018-06-02 09:04] genekogan commented on #128
i think i understand what you mean now. i guess you think of it as a classifier because mobilenet was originally a classifier. but the model that's downloaded has the original classification layer removed, and its last layer just outputs a flattened 7x7x256 tensor (i think probably the last convolution, pre-classification). in ml5, you then attach another layer on the end of that for your custom c

[2018-06-02 09:10] genekogan commented on #128
or even more radical...  you could even split it up in the following way:

[code]

where `ml5.ImageFeatureExtractor('MobileNet');` just outputs the bare output from the chopped off mobilenet.

an alternative convention could be:

[code]

the reason this is nice is that you can do a lot more things with the feature extractor than just classification and regression.  you can use the feature vectors

[2018-06-03 02:31] cvalenzuela commented on #128
I really like where this is going. I think using the concept of `FeatureExtractor` is nice.
What makes more sense to me now is to have the `FeatureExtractor` class that could also be used for other models (not just image?) So, as @genekogan said, something like:

[code]

And then we could work on something like:

[code]

This is also more managble to develop since it can be more modular.

[2018-06-05 19:49] oveddan commented on #114
I'll work on a fix for this.

[2018-06-05 20:37] #131 closed

[2018-06-05 20:43] shiffman opened #135 "ml5 "beta" project"
There's not an easy way to write a message or a comment for a "Project" so I'll file this issue and close later. I did some housekeeping on https://github.com/orgs/ml5js/projects/2 and removed some issues that don't seem realistic to tackle this week for the "soft launch". So this project now represents things we're trying to do right now today/tomorrow.

The soft launch will involve a push to npm

[2018-06-05 22:26] oveddan opened #137 "PoseNet should wait for video to be loaded before running pose estimation"
This currently causes the [issue in the examples](https://github.com/ml5js/ml5-examples/issues/25)

`Uncaught (in promise) Error: Requested texture size [0x0] is invalid.`

Where `estimateSinglePose` is called before the video is ready.

IMO `ImageAndVideo` should expose `onVideoReady` as a callback, rather than implementing the callback itself, so that the child classes can do their own functiona

[2018-06-06 03:01] cvalenzuela commented on #135
Sounds good! I'm back on Friday with much more time for the June 15 the launch!

[2018-06-06 03:26] cvalenzuela commented on #137
Great, thanks for figuring this. I'll work on a PR to fix this, lmk if you want to help implement this in the best possible way

[2018-06-06 03:28] oveddan opened #138 "add .travis.yml"
this would allow for automated linting and running of tests when someone opens a PR.

[2018-06-06 03:32] oveddan commented on #137
Cool - I'd love to help.

Basically at a high level after loading the model you need to make sure the video is loaded.

I know that these classes inherit from an ImageAndVideo class, but I think it would be cleaner if you just had a function `loadImageAndVideo` that returns a promise which resolves with the image or video when they are loaded, and these classes would just call that function instea

[2018-06-06 05:06] cvalenzuela commented on #138
we are using CircleCI for continues integration and we have `.circleci` folder. Will this add/change something from this?

[2018-06-06 13:02] shiffman commented on #135
Great! Since you are at  Eyeo with @handav feel free to help push us to prioritize things to finish by tonight! The main thing is the website design. @matamalaortiz we should probably push something live sooner than later even if it's not 100% done so @handav can screenshot for her slides? Or @cvalenzuela you could help run a local version for her there from the fork?

[2018-06-06 17:19] cvalenzuela commented on #135
Hannah will show a couple of videos, so as soon as the new updates are up I will run a local version and record them.

[2018-06-07 01:35] shiffman commented on #128
I'm liking where this is going. @cvalenzuela let's hash this out a bit more in person next week!

[2018-06-07 15:22] oveddan commented on #137
Anyways - for now maybe it's easier to avoid this refactoring and discuss in our next meetup.  I can take on fixing this in a more quick and dirty solution without doing such a big change.

[2018-06-07 20:53] shiffman commented on #135
So instead of creating a new project I just renamed the current one to "June 15th beta". Here we go. . .! (And big congrats to @handav on your Eyeo talk!) 🎉🎉 🎉

[2018-06-08 13:56] genekogan commented on #28
this looks really nice. great find!

[2018-06-09 16:33] justinfagnani opened #139 "Write and publish as standard JS modules."
This library seems very close to being publishable as standard JS modules, so that users can directly import the library, rather than using a `<script>` tag and writing to globals:

[code]

It looks like some files are written in a hybrid standard JS / CommonJS format with `import`s but also using the CommonJS global `module.exports`. Those exports would need to use standard JS `export` statements

[2018-06-10 08:10] scottleedavis opened #140 "Not able to load models with current version of ml5.min.js"
[/ml5js/ml5-data-and-training/issues/14](https://github.com/ml5js/ml5-data-and-training/issues/14)

Seems related to both repos.  Models in examples folder are not loadable with current version of ml5js.

![screenshot from 2018-06-10 01-02-28](https://user-images.githubusercontent.com/2914443/41199686-fb4d0278-6c4a-11e8-968b-1b614c651ee3.png)

Need an updated model version or ability to load previ

[2018-06-10 15:55] yamad07 opened #141 "Word2Vec class should be able to return word vector."
I want to calculate something using raw word vector.
so, i want Word2vec class to add function which return word vector.

[2018-06-10 19:48] #135 closed

[2018-06-10 23:16] cvalenzuela commented on #119
The KNN method is now deprecated, closing this for now.

[2018-06-10 23:16] #119 closed

[2018-06-10 23:17] cvalenzuela commented on #27
This seems to be solved

[2018-06-10 23:17] #27 closed

[2018-06-11 01:07] shiffman commented on #128
Noting some discussion in #142.

[2018-06-11 09:33] amatiasq opened #143 "Promises?"
I've just seen this library and I'm looking forward to use it. I was just wondering do you plan to support Promises? If I'd be willing to help adding a promise layer to it how can I do it?

[2018-06-11 20:05] kalaspuffar opened #144 "[Documentation] label -> className"
On the getting started page you have a small error in the implementation code.

https://ml5js.org/docs/getting-started.html

The result will not return labels.

document.getElementById('result').innerText = results[0].label;

Could be replaced with

document.getElementById('result').innerText = results[0].className;

Best regards
Daniel

[2018-06-13 04:30] cvalenzuela commented on #144
fixed, see https://github.com/ml5js/ml5-website/pull/47

[2018-06-13 04:30] #144 closed

[2018-06-13 04:31] cvalenzuela commented on #141
Hi @yamad07, the word2vec does have a method to add vectors, see: https://ml5js.org/docs/Word2vec

[2018-06-13 04:34] cvalenzuela commented on #143
Yes, we would like to support Promises, but we also want callback functionality since this is easier for beginners. Both should be supported in the best case scenario.
If you want to contribute please start by reading the [contributing guide](https://github.com/ml5js/ml5-library/blob/master/CONTRIBUTING.md)!
We can then move forward with this!

[2018-06-13 04:35] cvalenzuela commented on #140
closing this since there's already a thread in https://github.com/ml5js/ml5-data-and-training/issues/14

[2018-06-13 04:35] #140 closed

[2018-06-13 04:41] cvalenzuela commented on #139
Hi @justinfagnani, thanks for noticing this!

We do want to have a bundle and easy-to-use and out of the box version available for people not familiar with ES6, module bundler and `exports`. That said, supporting modules for people who want to use the library with that functionality will be helpful.

Let me know if you want to help contribute to this.

[2018-06-13 04:41] cvalenzuela commented on #137
Closed by https://github.com/ml5js/ml5-library/pull/142

[2018-06-13 04:41] #137 closed

[2018-06-13 04:43] cvalenzuela commented on #124
Seems resolved, closing for now.

[2018-06-13 04:43] #124 closed

[2018-06-13 04:47] cvalenzuela commented on #128
Just making a note that we ended up settling for this
[code]

This is now implemented (see https://github.com/ml5js/ml5-library/pull/142) and there is a demo in the page here https://ml5js.org/docs/custom-regression

Thanks for the idea and feedback @genekogan!

Closing this as it seems resolved!

[2018-06-13 04:47] #128 closed

[2018-06-13 04:50] cvalenzuela commented on #116
thanks @kaichehung , I'm closing this and opening a new issue in the data and training repo: https://github.com/ml5js/ml5-data-and-training

[2018-06-13 04:50] #116 closed

[2018-06-13 04:51] cvalenzuela commented on #114
Closed by https://github.com/ml5js/ml5-library/pull/136

[2018-06-13 04:51] #114 closed

[2018-06-13 04:53] cvalenzuela commented on #112
How realistic is this for the beta launch? I like the idea but I think we need to flesh out more how it would work. Should we move it from the beta release but still keep this open?

[2018-06-13 04:57] cvalenzuela commented on #92
We are not supporting p5 preload method but all examples do work with p5 at the moment. Either by setting this up the ml5 methods before or inside the `setup()` or `preload()` methods.

Not sure if we need to implement a custom register for the `preload()`. @shiffman?

[2018-06-13 05:04] cvalenzuela commented on #77
This has been addressed in the new source code. Each file and case is different but we have tried to create helpful error messages whenever possible. Some references:

- https://github.com/ml5js/ml5-library/blob/master/src/ImageClassifier/index.js#L110
- https://github.com/ml5js/ml5-library/blob/master/src/PitchDetection/index.js#L126
- https://github.com/ml5js/ml5-library/blob/master/src/FeatureE

[2018-06-13 05:04] #77 closed

[2018-06-13 05:04] cvalenzuela commented on #67
This is now resolved. see https://github.com/ml5js/ml5-library/pull/142

[2018-06-13 05:04] #67 closed

[2018-06-13 05:07] cvalenzuela commented on #11
@hardmaru mentioned to me he was interested in helping make this happen!

[2018-06-13 09:14] duncangeere commented on #54
Hey folks. I published a short notebook oriented around the getting started example a few days ago. Looks like you made some changes, though, and it's currently not working, but I'm working on a fix!
https://beta.observablehq.com/@duncangeere/image-classification-with-ml5-js

[2018-06-13 09:25] dangdennis opened #149 "Utilizing Prettier alongside Eslint"
Are you open to using prettier to format the library? It'd help enforce the Eslint standards you've made as well as lower the barrier for contribution just that bit more.

[2018-06-13 12:29] shiffman commented on #54
Thank you @duncangeere. For context, things are settling a bit here but the code is still quite a bit in flux as we prepare for a "beta" 0.1.0 release slated for this Friday, June 15th! Let us know how we can help or if you have any questions!

[2018-06-13 12:34] shiffman commented on #77
Amazing work, thank you @cvalenzuela!

[2018-06-13 12:37] duncangeere commented on #54
@shiffman Totally understand. I've got it fixed for now, I had to add a new promise. Good luck on the launch! This weekend I'll see if I can build some more examples off the finalised code :)

[2018-06-13 12:39] shiffman commented on #92
Looking at the [Image Classifier](https://github.com/ml5js/ml5-examples/blob/master/p5js/ImageClassification/sketch.js) example does `ml5.imageClassifier('Mobilenet');` not require a callback to ensure the model is ready? Does it work simply because it takes a bit for the image to be ready so the model also happens to be ready? I am imagining a `imageClassifier` example (related to https://github.

[2018-06-13 12:44] shiffman commented on #92
The `LSTM` example is another one where we could consider supporting `preload()`.

[code]

[2018-06-13 12:45] shiffman commented on #112
Yes, this should not be part of the beta. I'm not entirely sure it makes sense to be part of ml5 at all. I think the discussion around #121 is where we can track this.

[2018-06-13 12:45] #112 closed

[2018-06-13 16:54] cvalenzuela commented on #92
It does support a callback. See https://ml5js.org/docs/ImageClassifier#syntax

I'm going to investigate a more formal integration with p5

[2018-06-13 16:55] cvalenzuela commented on #149
Yes! this will be a good contribution.

[2018-06-13 17:09] cvalenzuela commented on #54
@duncangeere thanks for making that notebook! really well explained!

[2018-06-13 19:48] tmcw commented on #143
Happy to contribute this, if nobody else is working on it! One big question is - the current style is that the callback gets a result as its first argument - to make it parallel to Promises, we'd want something like

[code]

So that instead of throwing an error, we either pass it in a callback or reject in a promise uniformly. Would that be an okay change, or should I do a little of both at this p

[2018-06-13 21:28] dangdennis commented on #149
Awesome. I'll produce a prototype .prettierconfig file, maybe even propose some eslinrc changes.

[2018-06-13 21:42] shiffman commented on #143
Could we do an optional separate error function for the callback scenario?
[code]

[2018-06-13 22:16] shiffman opened #152 "Beloved Community License"
Thanks to the suggestion of @handav (via @fiebrink1) I propose we adopt the "beloved community license" for this project.

https://douglass.io/the-bcl

Any thoughts or comments?

[2018-06-13 22:21] tmcw commented on #143
Technically, you could, but it'd be quite unusual in JavaScript-land - I've never seen that pattern before. I'm open to it if that's the project's preference - ml5 (and p5, for its sake) is much more argumenty (as in, it uses more arguments and more variable-length optional arguments) than most projects I've worked with.

[2018-06-13 22:28] shiffman opened #153 "word2vec "vector""
Is `vector` the right term for the property we are returning as the result of an operation?

<img width="414" alt="screen shot 2018-06-13 at 6 25 59 pm" src="https://user-images.githubusercontent.com/191758/41381805-52e0e2ea-6f37-11e8-8d80-a300c113d814.png">

#141 caused me to think about this, I think of `vector` as the numbers themselves so maybe it should be just `word`?

cc @aparrish

[2018-06-13 22:29] shiffman commented on #58
Let's track this in #28?

[2018-06-13 22:29] #58 closed

[2018-06-13 22:48] shiffman commented on #143
To be clear, I'm just putting `gotResult` and `gotError` as placeholders, I'm happy to see anonymous methods with arrow syntax, etc.  It's more the order of stuff as well as optional arguments that are the priority? Is this more clear?

[code]

[2018-06-13 23:08] tmcw commented on #143
Sure, yep - I mean, there isn't anything technically wrong with it, but more that it's a pattern I haven't seen in the wild before. Doing error-first callbacks means that modules like [promisfy](http://2ality.com/2017/05/util-promisify.html), [d3-queue](https://github.com/d3/d3-queue), and [async](https://caolan.github.io/async/) can work those methods without any extra configuration.

So, on a ba

[2018-06-14 01:32] toferj commented on #152
Consider the following from the BCL license text:

"By using Software and Hardware Issued under the BCL License you recognize the spiritual divinity of every person with special attention to the hungry, the homeless and the oppressed."

Might this not alienate any persons (myself included) who do not belive in divinity, or spirituality?

Also consider the following from the license text:

"Softwar

[2018-06-14 03:08] shiffman commented on #143
I see, thanks for helping me understand! I agree we should aspire to be compatible with the JS ecosystem and conventions. The way I was thinking about it is that I would like the Promises usage of ml5 to follow modern JS patterns and the callbacks to follow p5 conventions. But I gather what you are saying is that having both requires some gymnastics to maintain since the two approaches are not eas

[2018-06-14 13:09] amatiasq commented on #143
I'm quite late here but I agree the callback pattern should follow the de-facto standard and have a single callback with two arguments being the first one `error`. Specially since `promisify()` is now in the library.

[2018-06-14 13:50] matthewbryancurtis commented on #152
Just from an outsider's perspective: I really love the message that this is trying to get across. I'm moved by the idea of a license that encourages peace and progress.

For the sake of discussion though, here are my concerns.

* I +1 the concern @toferj has about the language of spirituality. It will likely be alienating to the atheist community (it was off-putting to me at least).

* The languag

[2018-06-14 15:00] shiffman commented on #152
Thanks for this wonderful discussion!

I'm excited about the possibility of this license and appreciate so much the conversation it is prompting. The more we can do to infuse ethics into the practice and publication of OSS the better.

I hope we'll hear from the authors of the license with respect to the questions raised. We'll keep the MIT license for the beta launch tomorrow and I look forward t

[2018-06-14 16:00] derekkinsman commented on #152
I love the idea of this license.

As @matthewbryancurtis' alludes to, it does seem like the "recognition and possibilities" and "usage restrictions" appear to conflict with each other ("recognize the humanity of the incarcerated" vs. "cannot be used by institutions of incarceration", "improve the lives of the oppressed" vs. "no military usage").

I don't' think "spiritual divinity" has anything to

[2018-06-14 19:00] cvalenzuela commented on #143
I think we can move forward and get this merged, but not for tomorrow. Just to be clear, this will be the approach we will be taking:

[code]

Any additional thoughts?

[2018-06-14 19:05] tmcw commented on #143
Yep! that pattern works for me and I've gotten tests to work again by some magic I don't know :)

[2018-06-14 19:10] shiffman commented on #143
@cvalenzuela Am I correct that this would require us to change the example on the ml5js homepage from:

<img width="400" alt="screen shot 2018-06-14 at 3 07 34 pm" src="https://user-images.githubusercontent.com/191758/41432661-b4f87058-6fe4-11e8-91dd-14e352d1780b.png">

to:

[code]

It's such a small thing but also a big thing as beginners (at least ones coming from p5) won't be used to having the

[2018-06-14 19:16] cvalenzuela commented on #143
Yep, we will need to update the website. As for beginners, we can have a very descriptive log message if you just provide one argument.

[2018-06-14 20:51] oveddan opened #154 "PoseNet does not work with images"
See the [ml5-adjacent issue](https://github.com/ml5js/ml5-adjacent/issues/9)

I believe the if/else statements in the beginning of ml5.posenet do not handle the case for when it's passed an image argument.  The video variable ends up being undefined.

[2018-06-14 20:55] shiffman commented on #154
Like image classification it would be nice to pass in images one at a time. So maybe an option to make a `poseNet` instance and the a call to `detectPoses()` with an image argument and callback?.

[code]

Not sure about the naming of `detectPoses()`, maybe just `detect()` or `predict()`?

[2018-06-14 20:57] aparrish commented on #153
I would definitely agree that this isn't the right term for that property! `word` would be better.

[2018-06-14 21:31] alignedleft commented on #152
@shiffman Thank you for introducing me to the BCL. What a powerful piece of writing.

Does anyone know who is behind the BCL? I ask because the website does name any names — the Douglass folks seem to be pretty tight-lipped in that regard. It matters who is behind the license because their values may or may not align with that of the project, and that also informs the future of the license. For ex

[2018-06-14 21:41] cvalenzuela commented on #154
It does support images here: https://github.com/ml5js/ml5-library/blob/master/src/PoseNet/index.js#L60

Just not in the constructor. Copying from https://github.com/ml5js/ml5-adjacent/issues/9 :

For video, no need to call `poseNet.singlePose`
[code]

And for an a single classification you do:
[code]

[2018-06-14 21:43] cvalenzuela commented on #153
sounds good! will update after the beta release. thanks @aparrish!

[2018-06-14 21:44] oveddan commented on #154
Cool, didn't see that.

[2018-06-14 21:44] #154 closed

[2018-06-14 21:58] derekkinsman commented on #152
@alignedleft the creator is William Dyson. You can read more here, I would say, yes, the Douglass OS people are deeply aligned with the license they've crafted as well:

- https://blackmattersus.com/33117-building-technology-to-empower-black-community/
- https://democratizingdemocracy.com/speaker/william-dyson/
- https://www.f6s.com/williamdyson

The license will always be valid. Really you could

[2018-06-14 23:30] tmcw opened #155 "babel-polyfill in dist file leaks to global space"
If you're in a webpack/rollup/etc environment and you require ml5 from there, if you do

[code]

You'll run into an error that

[code]

This will also happen if your application uses babel-polyfill and you require ml5. Ideally I think there's a way that ml5 can have babel-polyfill for itself while keeping those polyfills just inside of its bundle, so that there's no chance of a conflict.

[2018-06-15 03:02] limzykenneth commented on #143
As @tmcw and @amatiasq mentioned, having the error as the first argument to a callback function is usually the convention in JS, because of node.js and its surrounding ecosystem. It helps with checking for errors as you would first check if `error` is defined before moving on to `results` which may be undefined if there's an error, which many node.js based packages assumes.

Meanwhile, in p5.js th

[2018-06-15 04:36] dangdennis commented on #149
#157

[2018-06-15 11:18] shiffman opened #158 "Pitch Detection API changes"
In working on https://github.com/ml5js/ml5-examples/pull/34 I think it would be helpful to make the following adjustments to the pitch detection API:

1. Change `getResults()` to `getPitch()`.
2. Change `result` property to `frequency` and make floating point number.
3. Remove `Hz` from `frequency` property (and just document the unit is voice).
4. If nothing is detected set `frequency` property t

[2018-06-15 14:27] handav commented on #158
This makes a lot of sense to me! I thought I could change it quickly but I'm having trouble building the library and I've got to start work, but I'll try to look at this tonight or this weekend.

[2018-06-15 17:21] shiffman commented on #158
I'm happy to also to pull request these but it's also definitely ok to wait until after today! I'll let @cvalenzuela let us know what he prefers!

[2018-06-15 18:17] handav commented on #158
Oh sorry if you have them already absolutely go ahead!

[2018-06-15 18:28] cvalenzuela commented on #158
we can move and get this changes by now if you want @shiffman

[2018-06-15 18:50] meiamsome opened #159 "Asynchronous constructors"
I think perhaps the use of callbacks in constructors should be reconsidered - it is problematic to make this style work with Promises correctly. I see a lot that the constructors call `loadModel`  or similar functions and I'm wondering if it would be better to make that the job of the consumer, or if it would be better to use a factory

[code]
vs.
[code]
vs.
[code]

1: If a constructor optionally

[2018-06-15 21:51] cvalenzuela opened #161 "Pitch Detection loads model locally"
See https://github.com/ml5js/ml5-data-and-training/pull/24

[2018-06-17 01:04] dangdennis commented on #149
I did my best to match .prettierrc to your eslint config. Please review all the other config options however.

{ "arrowParens": "always", "bracketSpacing": true, "jsxBracketSameLine": false, "printWidth": 120, "semi": true, "singleQuote": true, "trailingComma": "all", "tabWidth": 2, "useTabs": false }

CLI options to run prettier given .prettierrc:

prettier --config ./.prettierrc --write src//*.j

[2018-06-18 22:45] city535353 commented on #158
How to recognize "Hi google" when user say with this Pitch Detection API?

[2018-06-18 22:56] handav commented on #158
This model is only to detect pitch - not actual words/content.

[2018-06-19 00:24] honnet opened #164 ""Classifier with Feature Extractor" might not work with 3+ classes."
The given example works smoothly with 2 classes:
https://ml5js.org/docs/custom-classifier

...but adding a 3rd prediction class doesn't seem to be working yet.
Reproduction sketch:
https://alpha.editor.p5js.org/CedHon/sketches/S1yCjnr-7

Let me know if I can add any detail ;)

[2018-06-19 01:22] nonoesp commented on #11
Hi! Sorry for the radio silence!

@garciadelcastillo and I were experiment with serving SketchRNN (and other libraries) over HTTP and WebSocket for a workshop, to have participants interact with machine learning libraries (such as SketchRNN) from different coding environments.

I'm currently porting the barebones of [simple_predict.js](https://github.com/MindExMachina/sketch-rnn/blob/master/simple

[2018-06-19 05:03] dangdennis commented on #139
#165

Reference pull request here. I converted the last `module.exports` to use es6 module syntax.

[2018-06-20 01:00] shiffman commented on #11
This is very exciting! It probably makes sense for us to mirror the `ml5.LSTM` API to the extent that it makes sense. Building on @cvalenzuela's earlier comment, I'm thinking a simple example could look something like. . .?

[code]

We could consider integrating with `p5.Vector` but perhaps this would tie it too closely to p5?

[2018-06-20 01:08] hardmaru commented on #11
Hi @shiffman ! Thanks for all the discussion.

That's a nice suggestion. In my original model [api(https://github.com/tensorflow/magenta-demos/tree/master/sketch-rnn-js), I did it where we sample each point incrementally, rather than sample the entire drawing, since it might allow for more creative applications, such as allowing the algorithm to extend what the user has drawn.

When I wrote the mo

[2018-06-20 01:17] shiffman commented on #11
@hardmaru yes, that makes a lot of sense! Perhaps the default behavior can be to just sample one point at a time with an option to ask for an array? My concern is that I'm assuming that sampling will require a callback which could get quite confusing for a beginner trying to do something with a `draw()` loop in p5. Would it be able to do one point at a time without a callback, i.e.?

[code]

[2018-06-20 14:41] shiffman commented on #11
Ah yes, this makes sense! We should definitely allow for the user to pass in human input and override the model's generated data. This could also possible be an argument to `generate()` where it's something like:

[code]

In looking at your code I see that the model provides `dx,dy` rather than literal `x,y` coordinates. I think this makes sense to keep, I was just making stuff up without looking

[2018-06-21 00:07] hardmaru commented on #11
Hi @shiffman

In addition to modelling when the pen should touch the canvas and when it should be lifted away from the canvas, Sketch-RNN also models when to finish drawing (via the event `pen_end`). So `[pen_down, pen_up, pen_end]` is a one-hot vector sampled from a categorial distribution.

Unlike an LSTM generating Hemingway forever, if we let an LSTM doodle birds without end, it will fill the

[2018-06-21 14:09] shiffman commented on #113
Another reference for ideas and inspiration (so hard to keep up)!

https://github.com/thibo73800/metacar

[2018-06-22 18:04] cvalenzuela opened #167 "Port KNN"
Would be nice to have this new model:
https://github.com/tensorflow/tfjs-models/tree/master/knn-classifier

[2018-06-22 18:06] cvalenzuela commented on #164
I'll look into this. But changing the hyperparameters might help: https://ml5js.org/docs/FeatureExtractor#parameters

[2018-06-22 18:06] yining1023 commented on #167
I agree! I would like to work on this if it's okay.

[2018-06-22 18:06] cvalenzuela commented on #167
sounds good!

[2018-06-23 19:38] honnet commented on #164
Thanks for the answer!
You suggested it during the workshop and we tried it (see [lines 18-19](https://alpha.editor.p5js.org/CedHon/sketches/S1yCjnr-7)), but it seems that something else is missing...

[2018-06-23 19:53] cvalenzuela opened #169 "Moving YOLO weights to GCP"
We should move the YOLO weights to GCP so when some clones the repo they dont download them. thanks to @nsthorat for noticing this!

[2018-06-24 12:27] ChrystianSchutz opened #170 "RangeError: attempting to construct out-of-bounds TypedArray on ArrayBuffer [bug]"
I tried it both on firefox 60.0.2 (64 bits) and chrome  67.0.3396.87 , there is the same error, I am using library from unpkg.
[code]
I have the same error when trying to use examples from ml5-examples (LSTM-text) and attempting to write my own function.

[2018-06-24 17:17] cvalenzuela commented on #170
Where are you getting this error? Can you post the code that triggers this error?

[2018-06-29 16:20] cezary69 commented on #164
For some reason numClasses is always = 2 whatever I put into hyperparameters object
just console.log(classifier) to see it
that's why we can't have more than 2 classes with actual ml5

[2018-07-03 17:31] gick commented on #164
I experienced the same issue, a quick fix that's working for me is to set numClasses explicitely
`  featureExtractor = ml5.featureExtractor('MobileNet'
  , modelReady);
  featureExtractor.numClasses=3
`

Then by putting a breakpoint in
`function classify() {
  classifier.classify(gotResults);
}

And inspecting classifier properties, numClasses is at 3.

I changed a bit the code with a "Add bird im

[2018-07-04 19:38] woudsma opened #174 "Import / export model retrained using featureExtractor"
Nice project!
I was wondering, is it possible to export a MobileNet model which has been retrained with the featureExtractor class?
It would be great to be able to import a retrained MobileNet classifier as JSON for example!

Do you have plans to support other models next to MobileNet? I'm experimenting with object detection / semantic segmentation using tensorflow.js. Are there guidelines or docu

[2018-07-05 16:44] cvalenzuela commented on #174
Yes, we want to support export/import of custom models. This is something that hopefully will get implemented in the short term. We will probably need to wrap `tf.model.save` (https://js.tensorflow.org/api/0.11.7/#tf.Model.save)

And we also want to support more models! There are no current guides on how to port new models to ml5 but it is something we can work together in a PR if you would like t

[2018-07-05 17:31] woudsma commented on #174
Thanks for your reply, import/export and custom model support would be useful!🤞
I'm trying to port a [Quick Draw](https://www.tensorflow.org/tutorials/recurrent_quickdraw)-like RNN to tensorflow.js, the plan is to make it work with ml5 (looking at https://github.com/ml5js/ml5-library/blob/master/src/YOLO/index.js).
If i can get it to work i'll do a write-up of the necessary steps.

[2018-07-05 19:50] cvalenzuela commented on #174
You should check this thread: https://github.com/ml5js/ml5-library/issues/11

[2018-07-07 17:48] nathanielgrossman opened #175 "Can't train featureExtractor model using images, getting "expected input_1 to have shape [null, 224, 224, 3]..." error"
Hello, I'm trying to implement ml5.js in a project and I need to retrain the mobilenet model. I've read through all the examples which use a video for training and tried to replicate that using images instead, but I repeatedly get this error:
`"errors.js:34 Uncaught Error: Error when checking : expected input_1 to have shape [null,224,224,3] but got array with shape [1,188,188,3]."`

Is there some

[2018-07-08 16:35] cvalenzuela commented on #175
Your images just need to be of width and height 224x224

[2018-07-09 18:39] nathanielgrossman commented on #175
Thank you, that solved my problem. Obviously the second and third indexes refer to width and height but what to the first and fourth refer too?

[2018-07-09 18:47] cvalenzuela commented on #175
`[null,224,224,3] ` refers to `[batch, height, width, inChannels]`. So, `batches = null`, `width` and `height=224` and we need a color (RGB) image so `channels=3`

[2018-07-09 19:01] nathanielgrossman commented on #175
Thank you!

[2018-07-09 19:14] #175 closed

[2018-07-11 10:11] hardmaru commented on #11
Hi @shiffman @cvalenzuela @nonoesp @garciadelcastillo

A few updates from me:

1) I ported the [sketch-rnn-js](https://github.com/tensorflow/magenta-demos/blob/master/sketch-rnn-js/lib/sketch_rnn.js) model over to TensorFlow.js using the TypeScript style of the [magenta.js](https://github.com/tensorflow/magenta-js/) project. The API is very similar to sketch-rnn-js, but just GPU accelerated. I'll

[2018-07-11 18:33] cvalenzuela commented on #11
Amazing @hardmaru! this will be super nice to have in ml5. Let us know when you publish your code so when can make a wrapper around it!

Once that is ready, we can also put the training instructions and script here: https://ml5js.org/docs/training-introduction

[2018-07-13 21:12] nonoesp commented on #11
Nice! So glad to hear about TypeScript @hardmaru, and thanks so much for sharing the IPython notebook. Looking forward to the release.

[2018-07-14 09:29] hardmaru commented on #11
I put the code in my [fork](https://github.com/hardmaru/magenta-js/tree/master/sketch) for now but should be merged in the next few days.

There are 3 working demos that use sketch-rnn with TensorFlow.js, linked in the README.md

[2018-07-15 14:38] genekogan opened #177 "custom neural net"
Is there any way to create your own neural nets, the way you can in Wekinator?  right now, it looks like all you can do is use images/video as inputs and use MobileNet, but it would be nice if you could at least define your own input layer, so you could e.g. use facetracker (CLM tracker) landmark points as an input or an FFT or posenet skeleton positions or lots of other things.

for example (very

[2018-07-15 21:02] cvalenzuela commented on #177
Yes, this is something we have been considering for a while. One of the first iterations of the library had a NN class.

We where tracking this here https://github.com/ml5js/ml5-library/issues/112 but then we moved it here https://github.com/ml5js/ml5-library/issues/121

@shiffman also made a example we want to port: https://github.com/shiffman/Tensorflow-JS-Examples

[2018-07-16 10:50] genekogan commented on #121
it would be great to pick this up.  how about `Classifier` and `Regressor` as the class names for a generic network?  i.e.

    let c = new Classifier({numInputs: 20, numOutputs: 3});
    let r = new Regressor({numInputs: 20, numOutputs: 3});

under the hood, you can have a single hidden layer for both of them, and can use a formula to determine how many neurons; one simple heuristic that could wo

[2018-07-18 08:03] WilliamLehmus commented on #174
+1 for the requested save/load feature.
I need this for a project I'm working on:)

[2018-07-21 06:12] mw108 opened #178 "YOLO: Cannot read property 'captureStream' of null"
According to the examples page, ml5 YOLO should support object detection of images: https://ml5js.org/docs/YOLO

However, trying to instantiate `ml5.YOLO()` in `Chrome` and `Edge` leads to the error message mentioned in the title:

When using `Firefox`, I instead get:

Question is: Am I doing something wrong or is this a problem with `ml5js`?

`sketch.js`

    let yolo;
    function setup() {

[2018-07-22 09:48] mw108 commented on #178
Ok, after looking more into the code, I saw that it acutally should work. So I just rebuilt the library and it doesn't throw an exception anymore now when running the code from the example.

However, in the `yolo.detect` callback `results` is `undefined`. But this is a different problem / issue.

[2018-07-22 09:49] #178 closed

[2018-07-23 18:38] lenny76 commented on #164
@gick great solutions!
it works for me too.
thanks!

[2018-07-25 09:24] genekogan opened #179 "face-api.js"
facetracker built on tensorflow.js: https://github.com/justadudewhohacks/face-api.js

looks much more robust than CLM tracker, and because of tf.js, should integrate nicely with ml5.

this is a perfect companion for [https://github.com/ml5js/ml5-library/issues/177](https://github.com/ml5js/ml5-library/issues/177) :) :) 🙏🙏

[2018-07-26 21:08] shiffman opened #181 "Direct access to features from ml5.FeatureExtractor()"
At the moment the Feature Extractor only supports conversion to classifier or regressor. We want to add a method that makes access to the features as a plain array of numbers easy for the end user, i.e.

[code]

This came up during #171 discussion.

[2018-07-26 21:57] shiffman opened #891 "[examples] Additional Word2Vec Examples"
An issue as a reminder to continue ml5js/ml5-examples#49 and create additional simplified Word2Vec examples. A good source of inspiration is @aparrish's tutorial: https://gist.github.com/aparrish/2f562e3737544cf29aaf1af30362f469

[2018-07-27 03:53] woudsma commented on #174
I've written down my steps of retraining a MobileNet model for the web. It's based on the [TensorFlow for Poets](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/index.html?index=..%2F..%2Findex#0) guide, and describes how to use a retrained model in the browser with TensorFlow.js.

https://gist.github.com/woudsma/d01eeda8998c9ab972d05ec9e9843886

No time yet to look on how to

[2018-07-30 09:11] mat-lo opened #183 "Posenet on images"
Hi 👋

First of all thank you so much for maintaining this awesome project.

I was trying to run the Posenet p5js example on an image with no luck.
I managed to create a 10s video with the still image and use that, but of course it's not very practical 😄 .

It would be great to have a Posenet class that takes also an image as argument, not just a video.

[2018-07-31 00:09] cvalenzuela commented on #183
Hi @mat-lo!

PoseNet has a method to do sigle image: https://ml5js.org/docs/PoseNet#methods

This should work:
[code]

[2018-07-31 10:43] mat-lo commented on #183
Thank you @cvalenzuela! I was trying to pass a p5 image element 🤦

[2018-07-31 10:43] #183 closed

[2018-08-01 15:02] Grizzly2212 opened #185 "Can't train imageCalssifier"
var features = ml5.featureExtractor("MobileNet", modelReady);
        var classifier;
        var img;
        function modelReady()
        {
          console.log("Model ready!");
          classifier = features.classification();
          img = new Image();
          img.src = "images/cat.jpg";
          classifier.addImage(img, 'cat', imageAdded);
        }

        function imageAdded()

[2018-08-02 17:51] K1ngjulien opened #186 "NodeJS support"
Is it possible to use this library within a NodeJS environment?
I found Issue #74  but I am unsure if it is possible now/ will be in the future to use ml5 in a node app.

Does an NPM Package for this library even exist at this point?

[2018-08-06 00:32] hardmaru commented on #11
The TensorFlow.js has gone thru code review and accepted into the main repo. The current interface is more or less inspired by the p5.js style workflow, and in fact all the demos use p5.js

https://github.com/tensorflow/magenta-js/blob/master/sketch/README.md

The next step is to try to wrap it over with ml5.js and make the `ml5.SketchRNN()` class.

[2018-08-06 14:42] cvalenzuela commented on #11
great! I'll make a branch and start working on it

[2018-08-06 14:45] cvalenzuela commented on #185
By default, the `featureExtractor` expects two classes to be classified. You need to add more than 1 image to be able to train a custom classifier. See https://ml5js.org/docs/FeatureExtractor#parameters

[2018-08-06 14:47] cvalenzuela commented on #186
Hi @K1ngjulien, there is a npm package for ml5: https://www.npmjs.com/package/ml5

ml5 only runs in the browser for now, at some point we can make bindings for the Tensorflow.js Node API, but that's not in plan yet.

[2018-08-06 15:10] K1ngjulien commented on #186
Ok I wasn't sure, thanks! I'd love to help make that a reality 👍

[2018-08-06 15:11] shiffman commented on #11
Yay! I am so excited about this! I would love to help work on this too.

[2018-08-06 18:10] Grizzly2212 commented on #185
Yes, but what about that webgl_util.js:164 Uncaught (in promise) Error: Requested texture size [0x0] is invalid.

[2018-08-07 01:44] hardmaru commented on #11
Thanks for the help @reiinakano @cvalenzuela @shiffman

I published a more optimized version 0.1.2 (no change to the API) today:

https://www.npmjs.com/package/@magenta/sketch

This version reduced the number of `dataSync()` calls and improves performance by a little bit.

[2018-08-07 04:06] emwdx opened #890 "[examples, browser support] custom regressions/feature classifier examples work in Chrome, but not Safari"
I ran both custom regression examples on the webpage using Safari (v11.1.2 (13605.3.8)).

In the classifier example, When hitting either 'Add Image' button, this message appears in the consoleL:
'Unhandled Promise Rejection: Error: MathBackendWebGL.writePixels(): pixels can not be null'.

I assume this means that images aren't actually being added to the model since hitting the train button gives

[2018-08-08 14:42] shiffman opened #192 "predict() or classify()?"
In making video tutorials, I noticed that we sometimes use `predict()` for a classifier and sometimes `classify()`. For example with `imageClassifier('MobileNet')` it's `predict()` but with `featureExtractor('MobileNet').classification()` it's `classify()`. Should we use `classify()` everywhere it's specifically "classification" and `predict()` for regression and other things like PoseNet, etc. Or

[2018-08-08 15:57] cvalenzuela commented on #192
The `predict()` method in `imageClassifier('MobileNet')` was inherit from tf.js [`Model.predict`](https://js.tensorflow.org/api/0.12.0/#tf.Model.predict)

For `featureExtractor('MobileNet')` I think the choice was to make the method call explicit to what the extractor was set to do. As a classifier, it should `classify()` and as a regressor it should `predict()`.

It might be confusing to have dif

[2018-08-08 16:00] shiffman commented on #192
I agree. It felt confusing when making the tutorial that it was `predict()` for plain MobileNet but switched to `classify()` when re-training. Let's switch to `classify()` as you suggested but preserve `predict()` (marking as deprecated?) for backwards compatibility until 1.0? 0.5.0?

[2018-08-08 16:18] cvalenzuela commented on #192
sounds good, will work on it!

[2018-08-10 11:58] vaughan-rich opened #194 "Feature Extractor for Transfer Learning - Unhandled Promise Rejection in Safari"
I've just had a go at implementing the two transfer learning examples from Dan's recent livestream (demonstrating [classification](https://youtu.be/mfOL2RIyk2c?t=4601) and [regression](https://youtu.be/mfOL2RIyk2c?t=6724)). I've deployed them on my website [here](https://www.richvaughan.co.uk/pages/transferlearningclassifier.html) and [here](https://www.richvaughan.co.uk/pages/transferlearningregr

[2018-08-12 14:26] moun3imy opened #195 "My chrome tab hangs when visiting some examples section on ml5js.org"
hey,
When I want to run Image Classification on the website, the example's page loads but I can't do anything with the mouse on the page, the page is just unresponsive, seems like the ml5.js script can't load. Same thing with the video classification example.

Config :
Chrome Version 68.0.3440.106 (Official Build) (64-bit)
OS X El Capitan 10.11.5 (15F34)

Is this a bug ?

[2018-08-12 17:33] mubaris1 opened #196 "error in classifier.predict"
var x = $("img").mouseover(function(){} // Loading all the images on a webpage in 'x'.

Next, calling the following
classifier.predict(x[1], function(err, results) {
        console.log(results);
      });
This results in the following error:
Uncaught (in promise) DOMException: Failed to execute 'texImage2D' on 'WebGL2RenderingContext': The image element contains cross-origin data, and may not be

[2018-08-13 15:29] cvalenzuela commented on #194
Seems related to https://github.com/ml5js/ml5-examples/issues/55
It seems we have an issue with Promises in Safari, will investigate.

[2018-08-13 15:51] shiffman opened #197 "Universal Sentence Encoder"
I'd like to port this [TensorFlow Universal Sentence Encoder](https://www.tensorflow.org/hub/modules/google/universal-sentence-encoder/2) model to ml5 as part of my fall A2Z course (I'll be using `Word2Vec` and `LSTMGenerator`). Is there already a tf.js version? @nsthorat

[2018-08-13 16:09] shiffman commented on #197
Tagging @SEFDStuff as we've been discussing this off github!

[2018-08-13 17:17] nsthorat commented on #197
We don't yet have a TensorFlow.js version, I think we need to convert the model from TF Hub using the converter. I have a suspicion that there will be a few ops that we don't yet support in the converter -- if you guys run the converter and file an issue on tfjs about which ops we're missing we can prioritize them.

Does that sound reasonable?

[2018-08-13 19:38] shiffman commented on #197
Perfect! I'm not getting to this anytime super soon I was just noting it so as not to forget! More soon!

[2018-08-13 22:02] cvalenzuela opened #198 "Pix2pix improvements"
[Following a conversation](https://github.com/zaidalyafeai/zaidalyafeai.github.io/issues/3#issuecomment-412644346) with @zaidalyafeai, it might be a good idea to change the current pix2pix version to his own implementation which runs faster: https://zaidalyafeai.github.io/pix2pix/cats.html

[2018-08-13 22:11] zaidalyafeai commented on #198
@cvalenzuela, I trained on https://github.com/affinelayer/pix2pix-tensorflow/blob/master/pix2pix.py. I converted to tf.js but I faced some errors. So, I created a similar keras [model](https://github.com/zaidalyafeai/zaidalyafeai.github.io/blob/master/pix2pix/save_keras.py) and ported the weights directly. and then converted the model. To make predictions faster I used lesser number of filters for

[2018-08-13 22:25] zaidalyafeai commented on #198
[Here](https://github.com/zaidalyafeai/zaidalyafeai.github.io/tree/master/pix2pix#convert-the-model-to-tensorflowjs),  I explained the whole process. So the pipeline is like this

Train on Tenosrflow -> export the model as graph and weights->create keras model-> load the weights to the keras model -> convert the keras model to tf.js

[2018-08-13 22:36] yining1023 commented on #198
This is amazing! @zaidalyafeai. A lot faster!

The pix2pix in ml5.js is like something like [this](https://github.com/yining1023/pix2pix_tensorflowjs/blob/master/pix2pix.js):
It is trained on Tenosrflow -> in tf.js, load the weights, and create the model in tf.js.

I guess having a keras model and converting it to tf.js will make things faster?

[2018-08-13 22:50] zaidalyafeai commented on #198
@yining1023, it will be interesting if this is the case. In [Tensorflow](https://github.com/affinelayer/pix2pix-tensorflow/blob/master/pix2pix.py) I used `ngf= ndf = 32` for faster predictions. If you used the default 64 the model will be bigger and predictions slower.

[2018-08-14 00:00] moun3imy commented on #195
Here is what happens :
1* I load the page for the example
2* the image loads but while the model is computing the result for the image, my mouse completely hangs, and it stays as that for a long time
I created the snapchot and when the page finally loaded, the size of the memory used is : 53.1MB

[2018-08-14 07:33] mubaris1 commented on #196
Thanks for the reply, actually, I was able to get the URL with the following,
$('img').mouseover(function(e){  // for getting the src of currently hovered image!
	var image =e.currentTarget.src; // image now contains URL
});
And, yes, previously I wasnt working with https pages.

[2018-08-14 07:33] #196 closed

[2018-08-14 10:14] technoartista commented on #174
I am looking for the import-export model feature aswell

[2018-08-14 13:27] koltclassic opened #199 "LSTM to generate beginning of a sentence?"
Hello! 👋  I've been playing around with the Selected Stories [experiment ](https://cvalenzuela.github.io/Selected_Stories/) and was wondering if there was a way to change the positioning of the generated text relative to the seed data? For example, the current text generation has a certain amount of seed text, then generates words after that text. I was wondering if there was a way to provide seed

[2018-08-14 15:10] yining1023 commented on #198
@zaidalyafeai That makes sense. Yes, I used the default 64. I will try to use `ngf= ndf = 32` and see if the model will be smaller and faster. Will keep you posted!

[2018-08-14 15:17] zaidalyafeai commented on #198
@yining1023, BTW, are you using `BatchNormalization` with `training = True` ? tf.js will calculate predictions wrongly. I filed an [issue](https://github.com/tensorflow/tfjs/issues/562) a week ago. It has not been fixed so I sourced my own bundle of the [code](https://github.com/zaidalyafeai/zaidalyafeai.github.io/blob/master/pix2pix/tf.min.js) with predictions calculated correctly.

[2018-08-14 15:53] yining1023 commented on #198
@zaidalyafeai Thanks for the heads up! I used `tf.batchNormalization` in [here](https://github.com/yining1023/pix2pix_tensorflowjs/blob/806b762e62b30ca28714bd33ca06b27a7b3e3ab8/pix2pix.js#L34). I created the model in tf.js instead of using keras though.

I'm training a model with `ngf= ndf = 32` now.

[2018-08-14 16:13] zaidalyafeai commented on #198
@yining1023, oh I understand. You are using a completely different approach.  BTW, we could make the model even faster by using [depthwise](https://js.tensorflow.org/api/0.12.0/#layers.depthwiseConv2d) separable convolutions.  It was used on mobilenet for faster predictions.

[2018-08-16 08:37] jrmedd opened #200 "Return probability with featureExtractor classification"
I've been working up a sketch for a game incorporating transfer learning, using featureExtractor. I'd find it really handy to be able to return an object with classes and probabilities, just as I can with imageClassifier.

Syntactically, I'm not sure if there's merit to using `.classify()` to return a single result, and`predict()` to return a object with classes/probabilities? I notice @shiffman b

[2018-08-16 14:49] shiffman commented on #200
Oh interesting suggestion! When doing the tutorials I found myself expecting the labels and probability scores given that the `ml5.ImageClassifier('MobileNet')` returned these values. I think for simplicity's sake it's probably best to use `classify()` for both the MobileNet classifier and the `ml5.FeatureExtractor` (via MobileNet) classifier. . .and have both return an array of labels and probabi

[2018-08-16 17:00] CreativeCode opened #202 "Calling currentImg = video.get(); and afterwards mobilenet.predict(currentImg, gotResults); gives error."
Dear community,
I have been inspired by Shiffman's videos about Image Classification and Video Classification. Consequently, I tried to combine working with video and with images. I tried to take a snapshot from the webcam and submit this snapshot for classification. The code is below. Unfortunately, I get an error (see screenshot).

I am not sure whether this is an issue or a mistake on my side.

[2018-08-16 17:42] cvalenzuela commented on #195
seems like a memory leak somewhere. can you post the snapshot?

[2018-08-16 18:14] cvalenzuela commented on #174
Will be implemented soon!

[2018-08-16 18:47] cvalenzuela commented on #202
You are getting the current image using
[code]
That will return a `p5.Image`. The classifier expects a DOM image or DOM Video

See this: https://github.com/ml5js/ml5-examples/issues/7

[2018-08-16 22:45] amcc opened #203 "errors importing image feature extractor classifier"
I'm trying various ways to import an image into the feature extractor. The (simplified) code below produces the following error:
`
function setup() {
  mobilenet = ml5.featureExtractor('MobileNet', modelReady);
  classifier = mobilenet.classification(video, videoReady);
}

function videoReady(loss) {
  console.log('video is ready');
  // loadedImages[0] = image(preloadImages[0], 0, 0);
  var img =

[2018-08-16 23:34] amcc commented on #203
turns out the image has to be sized to 224px width and height. I tried variants in grayscale and colour, it seems its the size that causes the error. Perhaps i missed something in the documentation or am doing something wrong. But it certainly seems to work when sized this way.

[2018-08-17 01:14] pauldog opened #888 "Freezes on yolo.detect(..)"
it freezes when it gets to yolo.detect(...) and the browser page becomes innactive.

even if the callback function contains nothing.

I am using Google Chrome on a Lenovo laptop.

Here is my code:

[code]

[2018-08-17 07:42] kotobuki opened #204 "A suggestion to FeatureExtractor.classification()"
I just cretaed a simple example of transfer lerarning based on https://github.com/ml5js/ml5-examples/blob/master/p5js/FeatureExtractor/FeatureExtractor_Image_Classification/sketch.js.

https://codepen.io/kotobuki/pen/EpqxoZ

In the process, I felt a little feeling of strangeness. This may be my impression, but it seems a little bit unnatural to specify a mode to use (i.e. classifier or regressor)

[2018-08-17 09:40] AndreasRef opened #205 "Any way to download the non minified library?"
Is there any way to download the full ml5 library as a non minified .js file?
https://raw.githubusercontent.com/ml5js/ml5-library/master/dist/ml5.js returns a 404

[2018-08-17 13:15] shiffman commented on #204
Thank you for this message and feedback! This is a tricky one. We went back and forth on a variety of ideas for the API and you can find some of the background / discussion on this thread:

https://github.com/ml5js/ml5-library/issues/128

The reason we went with `classification()` over `classifier()` is we felt that `regression()` works better than `regressor()` and wanted to stay parallel.

[2018-08-17 13:49] kotobuki commented on #204
@shiffman I understood. Thank you very much for sharing the long discussion behind the API. :wink:

[2018-08-18 15:11] AndreasRef commented on #205
Just had a student at a workshop who wanted to potentially alter something in the word2vec code, but I think he found a workaround :). Feel free to close, but perhaps remove the link to the "full" lib in the readme, since the link is dead.

[2018-08-18 15:25] cvalenzuela commented on #205
Great. thanks for the tip! Just removed it in https://github.com/ml5js/ml5-library/pull/207

[2018-08-18 15:27] cvalenzuela commented on #203
Yes, if you are adding a raw Image() you need to resize to 224x244

[2018-08-20 04:44] kotobuki opened #208 "Add .elt to support p5.image (FeatureExtractor/Mobilenet.js)"
https://github.com/ml5js/ml5-library/blob/5756876f3647cab6ff657dd0db4ec92ed668796e/src/FeatureExtractor/Mobilenet.js#L97-L98

The 98th line seems to have to be as follows (i.e. adding `.elt`) to support `p5.image`.

[code]

I'm sorry if this is a false alarm.

[2018-08-20 13:53] kotobuki opened #209 "typeof is missing for optionsOrCallback"
It seems that `typeof` is missing for `optionsOrCallback` (like L26), so supplied options (e.g. `numClasses`) are not reflected for a constructor of a `Mobilenet` instance.

https://github.com/ml5js/ml5-library/blob/5756876f3647cab6ff657dd0db4ec92ed668796e/src/FeatureExtractor/index.js#L24-L28

[2018-08-21 02:52] cvalenzuela commented on #208
yes! that should be .elt. thanks for catching it

[2018-08-21 02:53] cvalenzuela commented on #209
thanks! will fix

[2018-08-21 05:32] yining1023 commented on #198
@zaidalyafeai, I retrained the model with `--ngf 32 --ndf 32`. And I got a much smaller model(13.6MB vs. 50MB), and it predicts faster. It took me 01:55:57 vs. 04:16:21!

This is the new model: [code](https://github.com/yining1023/pix2pix_tensorflowjs_lite)
[https://yining1023.github.io/pix2pix_tensorflowjs_lite/](https://yining1023.github.io/pix2pix_tensorflowjs_lite/)
This is the old model:
[htt

[2018-08-21 08:10] jcranney opened #887 "[featureExtractor] featureExtractor for images from file"
I'm running into an error when trying to train the `ml5.featureExtractor('MobileNet')` on images from file. The working example [in this repository](https://github.com/ml5js/ml5-examples/blob/master/p5js/FeatureExtractor/FeatureExtractor_Image_Regression/sketch.js) uses `createCapture(VIDEO)`, but I get the following when trying to add an image from `createImg("bird.jpg")`:

[code]

The toy exampl

[2018-08-21 12:08] zaidalyafeai commented on #198
@yining1023, that is really cool. I tried tf.depthwiseConv2d but it didn't get me good results. The generated images were a bit blurry. I guess, this is because the number of parameters is too small (around 1.3 mil !).

[2018-08-21 13:38] cvalenzuela commented on #198
looks great @yining1023. Besides updating the model, we maybe work on using @zaidalyafeai implementation. I'll look into it

[2018-08-21 14:35] zaidalyafeai commented on #198
I have an idea but not sure if that would work. We could create a universal model that work on 10 classes for instance. The user doesnt have to switch between models to try different implementations. That might create a style transfer effect as well.

[2018-08-21 14:45] cvalenzuela commented on #198
that would be nice to have as an experiment! the models should be small enough

[2018-08-21 14:55] zaidalyafeai commented on #198
This implementation looks really cool

https://twitter.com/bgondouin/status/838658995351085056?s=19

[2018-08-21 15:58] yining1023 commented on #198
Good idea! It will be cool to play with several different models on the same page. We should totally add it to the ml5 website.

I think the outputs from the two implementations are similar. They both can predict new images while you drawing in real-time. (@zaidalyafeai's cat model feels a little faster to me though). The model is ~13MB now. We could reduce the parameters even more, but we'll have

[2018-08-22 15:52] abhikb101 opened #210 "Error while doing npm start run"
"Expected linebreaks to be 'LF' but found 'CRLF'  linebreak-style"
this error pops up in various files while doing npm start run on windows

[2018-08-22 15:59] abhikb101 commented on #210
[https://github.com/ml5js/ml5-library/blob/master/.eslintrc.json](url)
i think the you should add
`"linebreak-style":0`
to the rules block

[2018-08-22 19:44] #202 closed

[2018-08-22 19:47] cvalenzuela commented on #210
Might be related to this:
https://stackoverflow.com/questions/37826449/expected-linebreaks-to-be-lf-but-found-crlf-linebreak-style

[2018-08-23 16:55] abhikb101 opened #211 "Issues with building the project"
`/*!*************************************************************************************************!*\
  !*** multi (webpack)-dev-server/client?http://localhost:8080 babel-polyfill ./src/index.js run ***!
  \*************************************************************************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

__w

[2018-08-27 01:25] zaidalyafeai commented on #198
@yining1023, I have read on twitter that is best practice to avoid using `tf.depthwiseConv2d` for the initial layers. Typically, we need to conserve the correlation for the rgb colors in the first layer. Maybe we should only use them only on the decoder layers.

[2018-08-27 02:02] zaidalyafeai commented on #198
BTW, datasets with instance segmentation gives much better results.
For instance, https://zaidalyafeai.github.io/pix2pix/faceSeg.html. This is because we give the network an extra condition (color). There are tools which provide automatic instance segmentation like [this](http://www.mut1ny.com/face-headsegmentation-dataset/10-segmentation-data/12-face-headsegmentation-labeling-tool).

[2018-08-27 19:49] moun3imy commented on #195
![screen shot 2018-08-27 at 8 48 09 pm](https://user-images.githubusercontent.com/3155480/44682217-b49fd980-aa3a-11e8-9f02-e1d722d56191.png)
![screen shot 2018-08-27 at 8 48 26 pm](https://user-images.githubusercontent.com/3155480/44682218-b5387000-aa3a-11e8-9bf3-1cfe7fa37c18.png)

[2018-08-29 02:22] ideanb opened #212 "Batch size is 0 or NaN. Please choose a non-zero fraction"
This is happening to me when I call `classifier.train()`, I can't find a reason why this is happening anywhere else.
this is the code I'm using

[code]

[2018-08-29 17:40] steve14four commented on #174
I too am looking forward to seeing this feature added!

[2018-08-30 20:23] 7ammer opened #213 "Training Word2Vec with your own data?"
How do you go about training word2Vec?

There is a link on the word2Vec docs that states that this is possible but the link results in a 404 error.
:(

**Documentation with link:**
https://ml5js.org/docs/word2vec-example

**Missing 404 page:**
https://github.com/ml5js/ml5-data-and-models/tree/master/training

[2018-08-30 20:58] cvalenzuela commented on #213
We don't have a tutorial about that yet!
but this might be useful: https://www.tensorflow.org/tutorials/representation/word2vec

[2018-08-30 20:58] shiffman commented on #213
I don't know if this is still working but I made this for a class a year or so ago?
https://github.com/shiffman/p5-word2vec/tree/master/train

[2018-08-31 15:18] ideanb commented on #212
It seems I'm the only one with this error :(

[2018-09-11 10:28] patricoferris commented on #213
Would be more than happy to put something together for this showing an end-to-end implementation for ml5? I wrote an article, https://medium.freecodecamp.org/learn-tensorflow-the-word2vec-model-and-the-tsne-algorithm-using-rock-bands-97c99b5dcb3a, about using the TF verison, but Gensim would be simpler. Do you still need something?

[2018-09-11 14:37] gmkhussain commented on #210
Open `package.json`, added following rules under rules line:

[code]

for VScode users: click the option at the bottom-right of the window and set it to `LF` from `CRLF`
errors will fixed for me

[2018-09-14 10:08] moun3imy commented on #195
Hey @cvalenzuela ,
This is just a reminder if you think my problem can be solved, it's still occuring  :
![screen shot 2018-09-14 at 11 07 33 am](https://user-images.githubusercontent.com/3155480/45544159-6cd8ca80-b80e-11e8-9ff9-ae05091f0db8.png)

[2018-09-16 01:29] 7ammer opened #215 "Cannot access vectors from api for ml5.word2vec"
We should be able to access word vectors from the api.
Cheers

[2018-09-17 18:56] cvalenzuela commented on #208
fixed in #191

[2018-09-17 18:56] #208 closed

[2018-09-18 03:03] cvalenzuela commented on #211
You need to run `npm install` before running `npm run start`.
Check the [Getting Started](https://github.com/ml5js/ml5-library/blob/master/CONTRIBUTING.md#getting-started) section.

Feel free to reopen this if you still encounter issues

[2018-09-18 03:03] #211 closed

[2018-09-18 03:03] #186 closed

[2018-09-18 03:07] cvalenzuela commented on #199
Seems resolved. Feel free to reopen if necessary!

[2018-09-18 03:07] #199 closed

[2018-09-18 03:08] #185 closed

[2018-09-18 03:10] cvalenzuela commented on #143
Closed in https://github.com/ml5js/ml5-library/pull/151

[2018-09-18 03:10] #143 closed

[2018-09-18 03:11] cvalenzuela commented on #11
Added in https://github.com/ml5js/ml5-library/pull/189!

[2018-09-18 03:12] cvalenzuela commented on #43
Added in https://github.com/ml5js/ml5-library/pull/162!

[2018-09-18 03:12] #43 closed

[2018-09-18 03:14] cvalenzuela commented on #72
From https://github.com/propelml/propel:

[2018-09-18 03:14] #72 closed

[2018-09-18 03:14] #170 closed

[2018-09-18 03:17] cvalenzuela commented on #153
Closed in https://github.com/ml5js/ml5-library/pull/160

[2018-09-18 03:17] #153 closed

[2018-09-18 03:31] cvalenzuela commented on #212
You are training on just one image. You need at least two sets of images to create a classifier.

See https://github.com/ml5js/ml5-library/issues/185

[2018-09-18 03:31] #212 closed

[2018-09-18 03:36] cvalenzuela commented on #161
Closed in https://github.com/ml5js/ml5-data-and-models/pull/24

[2018-09-18 03:36] #161 closed

[2018-09-18 09:57] patricoferris commented on #213
@cvalenzuela This sounds perfect! I would love to contribute.

[2018-09-18 13:08] shiffman commented on #213
Awesome! Shall I create the repo and call it `training-word2vec`? I'm teaching with word2vec in a few weeks as part of my A2Z syllabus so I will be working on these materials and making videos about them soon!

[2018-09-18 15:08] cvalenzuela commented on #213
sounds good!

[2018-09-20 20:49] marshalhayes opened #216 "Cannot read property 'estimateSinglePose' of undefined"
[Relating to ml5js/ml5-adjacent/issues/9]

- p5js 0.7.2
- ml5js: 0.1.1
- Chrome: 69.0.3497.100

I'm trying to use `ml5.poseNet()` on a `p5 Image`. The program throws an error message `Cannot read property 'estimateSinglePose' of undefined`. It appears that this message is referring to `this.net` being undefined.

As you can see from the screenshot below, eventually `this.net` is set. However, it a

[2018-09-21 11:56] kotobuki commented on #174
I'd like to update my example (transfer learning w/ data augmentation) once the feature is added. :wink:

https://codepen.io/kotobuki/pen/ZMKEWo

[2018-09-21 22:00] ideanb opened #217 "Failed to execute 'texImage2D' on 'WebGL2RenderingContext': The image element contains cross-origin data, and may not be loaded."
In my example https://ideanb.github.io/best-guess/

I can classify images in the same server such as

`images/dexter1.jpg`
`images/dexter2.jpg`
`images/dee2.jpg`
`images/dee4.jpg`

But, If I try to classify an external link, let's say `https://images-na.ssl-images-amazon.com/images/I/41Xe%2B6VIgtL.jpg`

It throws this error

[code]

Any Ideas on how to make it accept external links?

[2018-09-24 00:51] cvalenzuela commented on #217
You should set the `crossorigin` attribute in the html tag:

[code]

See https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_settings_attributes

[2018-09-24 00:56] cvalenzuela commented on #216
PoseNet accepts a callback in the constructor that its trigger when the network has finished loading:

[code]

See https://ml5js.org/docs/PoseNet#example

[2018-09-24 14:38] cvalenzuela commented on #216
That's because p5 `preload()` method is not supported in ml5 yet!
See https://github.com/ml5js/ml5-library/issues/92

[2018-09-24 15:39] patricoferris commented on #213
@shiffman happy to help in any way I can :)

[2018-09-24 18:54] ideanb commented on #217
@cvalenzuela Thanks for your response

I was already using `crossOrigin="anonymous"` in my example.

I was able to fix this issue by setting `crossOrigin` before `src` attribute.

[code]

[2018-09-24 18:58] cvalenzuela commented on #217
great!

[2018-09-24 19:09] #216 closed

[2018-09-26 13:28] heaversm opened #218 "Getting multiple calls to callback on style.transfer()"
Given the following code (a slightly modified version of the style transfer demo to apply a singular style to multiple images), I am somehow getting two callbacks on the promise instead of one:

[code]

The first time through, it works to output the generated image, but the second time through there is no `result`, so I get the below error.

<img width="1028" alt="screen shot 2018-09-26 at 6 26 49

[2018-09-26 14:36] AaratiAkkapeddi commented on #195
The same issue happens to me when I view my ml5js projects in chrome. It works in safari. Perhaps, it's an issue with the latest build of chrome?

[2018-09-26 16:02] cvalenzuela commented on #218
All the images are generated? and then you get an error?

[2018-09-26 18:38] moun3imy commented on #195
@AaratiAkkapeddi I still can't run the ml5js examples on my chrome build due to this

[2018-09-27 16:35] heaversm commented on #205
Agreed with @shiffman  - also potentially useful in debugging issues with the library itself. Have caught a couple mysterious things that would be useful to test before making a pull request or github issue.

[2018-09-28 07:02] superkyle848 commented on #195
The same thing happens to me when I try to run the example code in an html file I wrote

[2018-10-01 22:27] #215 closed

[2018-10-03 04:31] marshalhayes commented on #92
Any update on support for p5's `preload()`? I would like to work on this if you don't mind, but might need some guidance on where to start.

[2018-10-05 05:33] memo opened #220 "stateful lstm: allow passing in & retrieval of state (c,h) and retrieving probability distribution."
Hey all, I'm very excited to finally have some time to play with ml5js!

I have a key requirement that is, instead of feeding in the entire string every time I want to make an inference, I only want to feed in the last character, and the state from the previous inference. Otherwise it really slows down as the input string gets large. (This is effectively a 'stateful' LSTM. i.e. Even though the und

[2018-10-05 19:37] shiffman commented on #220
Hi @memo! @cvalenzuela discussed this a little bit just now and we are excited to try to incorporate this! I'm not too worried about backwards compatibility (since we are so early in the library development) and many of the other classes are moving towards returning objects with metadata as opposed to a single string or numeric result.

The main priority is keeping the code example friendly and ex

[2018-10-05 19:53] memo commented on #220
Hey, that's great. Yea returning objects might allow more flexibility in the future.

I'm actually working on this again today, trying to figure out why seeding single character + state doesn't work :/ I think (ie hope) it might be because the generate function is doing everything on each call, so I'm looking at splitting it up right now. (Though JS has changed a lot since I last looked at it 100

[2018-10-07 03:01] cvalenzuela commented on #220
Yey! this is great! thanks @memo!

I can help update the async part to match what we are using in other parts of the library.
Do you want to open a PR so when can start working from there?

[2018-10-07 03:07] memo commented on #220
ok cool. I hadn't sent a PR in case you wanted me to make some changes first. But if you're happy with it as is for now, I will send one.

[2018-10-09 06:38] aspiringguru opened #222 "List[s] of useful tutorials/examples not in repo?"
Appreciate there are a few examples in this repo, hoping to find an example of how to train a custom classifier, or that others have a few demos they are happy for others to reference.

[2018-10-11 18:47] #209 closed

[2018-10-11 18:48] shiffman commented on #11
I'm briefly re-opening this issue to cover some API decisions @cvalenzuela just made in our weekly ml5 meeting!

Instead of storing the sketch data as:

[code]

we propose:

[code]

and then sketch data generated would look like:

[code]

Feel free to weigh in with any thoughts or comments!

[2018-10-11 22:05] hardmaru commented on #11
Looks sensible to me! Makes it a lot more readable.

In the future the backend might still want to deal with a raw 2d array of
floats if we want the generation of an entire sketch in one gpu call but we
can just convert back to the array format when needed.

On Fri, Oct 12, 2018 at 3:48 AM Daniel Shiffman <notifications@github.com>
wrote:

[2018-10-11 22:44] hardmaru commented on #11
Was also taking a closer look at the ml5js API for sketch-rnn. I'm not sure
if I have the right understanding, but I think in the current abstraction,
currently we can only generate an entire sketch (from the beginning) using
the API, but not able to do things like feed in a current incomplete
drawing, and have sketch-rnn finish the drawing. I guess it's a trade off
between complexity / simplicity

[2018-10-11 23:43] shiffman commented on #11
Ah,  yes this is a very good point! I think this relates (?) to the current discussion about stateful LSTM's in this pull request! I wonder if we could adopt a similar API for SketchRNN where we have simple "generate a drawing mode" as well as "generate one pen motion at a time where the user can take over" etc.

See: https://github.com/ml5js/ml5-library/pull/221#issuecomment-429060273 for more.

[2018-10-12 00:12] designrl commented on #11
The way I handled the interactivity is to completely abandon the async nature of the API (although this might be the wrong decision since there is a tradeoff vs performance).

In the current magenta version of sketch-rnn (https://www.npmjs.com/package/@magenta/sketch?activeTab=readme), the API is basically completely synchronous, and the code is similar to what your comment describes. Here is the

[2018-10-12 00:14] hardmaru commented on #11
The way I handled the interactivity is to completely abandon the async nature of the API (although this might be the wrong decision since there is a tradeoff vs performance).

In the current magenta version of sketch-rnn (https://www.npmjs.com/package/@magenta/sketch?activeTab=readme), the API is basically completely synchronous, and the code is similar to what your comment describes. Here is the

[2018-10-15 17:50] yining1023 opened #223 "Port speech-commands model from tfjs-models"
We should port this speech-commands model, and add some interactive examples with p5 sound library!
https://github.com/tensorflow/tfjs-models/tree/master/speech-commands

[2018-10-16 05:07] kotobuki commented on #174
I created examples to illustrate ways of saving/loading custom models for a workshop and worked as expected. Thank you very much! :blush:

* https://codepen.io/kotobuki/pen/dgVRBX?editors=0011
* https://codepen.io/kotobuki/pen/yRzGZL?editors=0011

[2018-10-18 12:12] CreativeCode opened #224 "Posenet - weird offset?"
Dear ml5.js team,

I noticed that the PoseNet's keypoints show up at the wrong spot when analysing still images taken with my webcam (see attached screenshot - the red dots should be over my ear-eye-nose-eye-ear but there is an offset). When I analyse the video feed instead of the still image, everything is correct. The code is here: www.misidentify.me/posenet

I first was pretty sure it has somet

[2018-10-19 15:58] davenep commented on #174
@kotobuki
 classifier.load(evt.target.files, () => {
    console.log("hello");
    status.html("Loaded");
  });
This is not working in codepen in google chrome and so i am not being able to load the saved model files. The status never shows "Loaded". Am i doing something wrong? Please help. Wonderful job by the way!

[2018-10-20 12:59] kotobuki commented on #174
@davenep
I was about to file an issue regarding this problem. For me, the status never shows "Loaded," but the model seems to be loaded. FYR, I uploaded saved model files at https://www.dropbox.com/s/5t586w83ni05ddt/saved_model.zip?dl=0

[2018-10-20 16:19] davenep commented on #200
@jrmedd @shiffman
I think this feature will be very helpful. For example, if I have 5 categories and when testing an image, I want to display the probability of the image falling in each category.. just like the predict function in image classifier. It would be very useful in feature extractor too. I would love to know if anyone has found a way to do this. Thank you.

[2018-10-20 22:32] kotobuki commented on #174
@davenep
Are you using v0.1.1? For the examples on CodePen, I refer to the latest version (i.e. f471eec18b7b64347b355ced8bc40604827924b3 ) via jsDelivr as follows:

https://cdn.jsdelivr.net/gh/ml5js/ml5-library@f471eec18b7b64347b355ced8bc40604827924b3/dist/ml5.min.js

[2018-10-21 08:53] davenep commented on #174
@kotobuki My bad! Thank you so much. It works perfectly. Any way to automatically load the model files from local drive when the browser loads without having to choose via a button? Thank you again :)

[2018-10-22 21:30] shiffman commented on #200
This also aligns with the LSTM discussion in #221 as I think we are moving more towards returning an object for most ml5 methods.

[2018-10-24 13:36] shiffman commented on #213
There is now a training word2vec repo! I will file issues there with some "to do" items and would welcome any help @patricoferris!

https://github.com/ml5js/training-word2vec

[2018-10-24 13:36] #213 closed

[2018-10-29 20:24] shiffman opened #226 "Sentiment Analysis / Text Classification"
I would like to port this example to ml5 (with a pre-trained model + corresponding train your own model instructions?)

https://github.com/tensorflow/tfjs-examples/tree/master/sentiment

I hope to prepare this for my [A2Z class](https://github.com/shiffman/A2Z-F18) and will report more here soon.

[2018-10-29 21:06] shiffman commented on #217
I'm not sure if it makes sense to re-open this or file a new issue, but it looks like this problem is more significant due to issues it causes with the p5 web editor (which hosts image uploads via an S3 bucket). @catarak and I were just discussing this in an e-mail thread.

For the time being I created an example that shows image classification with drag and drop to avoid this issue:
https://edito

[2018-10-29 21:40] catarak commented on #217
The workaround we've found to get this to work with p5.js is to do the following:
[code]
is this just inevitable with how WebGL operates with respect to CORS? I guess it's just weird to me that even if the image is being served with CORS enabled, and the origin is whitelisted, this error still comes up.

[2018-10-30 12:57] fernand0aguilar commented on #226
Glad to take a look at this.
Would you help me understand a bit more about how to make this tfjs model using ml5?
Thanks in advance

[2018-10-30 13:16] shiffman commented on #217
Would supporting `loadImage()` as discussed https://github.com/ml5js/ml5-library/issues/92#issuecomment-396922783 help with the CORS stuff?

[2018-10-30 15:40] catarak commented on #217
How do you use a p5 img with ml5? Do you write it to the canvas, and then input the canvas to the classifier? I couldn't figure out how to get that working.

[2018-10-30 15:50] shiffman commented on #217
I believe support was added via https://github.com/ml5js/ml5-library/pull/206 from @meiamsome, but I am having trouble getting `loadImage()` plus `ml5.ImageClassifier()` to work, continuing to test...

[2018-10-30 20:45] okramovic commented on #174
@kotobuki hi. i was trying your codepen examples and i am a bit puzzled by what to expect. i tried with two classes (5 images for each) and it worked fine. but saved and then loaded model outputs only 0 or 1 as class - is that how it should be?
then i tried anew with 3 classes, again 5 pics for each, but when testing (without save&loading of model) i never got the class from images uploaded as las

[2018-10-31 08:36] alzoube opened #227 "Classifier with Feature Extractor Error"
After the last update on (Load and save a custom model created with FeatureExtractor) the code does not work anymore. the following error comes out

ml5.min.js:1 GET https://storage.googleapis.com/tfjs-models/tfjs/mobilenet_v1_0.25_224/model.json net::ERR_NAME_NOT_RESOLVED

[2018-10-31 14:50] shiffman commented on #11
As a matter of update I have a working example for my A2Z class here:

https://github.com/shiffman/A2Z-F18/tree/master/week8-charRNN/04_sketchRNN

Are certain models there automatically and others I'll need to download? Right now it works with "cat" out of the box. Next step is I'll work on the `SketchRNN` class to implement some of the feature suggestions in this thread, as well as make an exampl

[2018-11-01 12:19] okramovic opened #229 "Custom saved and loaded classifier doesn't indicate hasAnyTrainedClass and numClasses from loaded model"
=> example to save model (by kotobuki)
https://codepen.io/kotobuki/pen/dgVRBX?editors=1011

=> to load (classifier props are console-logged only after you test an image)
https://codepen.io/okramovic/pen/QZPXxe?editors=0011

=> example model files for 3 classes here
https://www.dropbox.com/s/fbstks68cf4nfas/model-3-classes.zip?dl=0
(classes i used are dog, xray, plant in pot with white background)

[2018-11-01 18:31] catarak opened #230 "classification.addImage() crashes in Firefox"
I noticed in class yesterday that the following transfer learning sketch crashes in Firefox: https://editor.p5js.org/ml5/sketches/BkEeFyBhm. When you click on the "happy" or "sad" buttons, I see the following error:
<img width="1056" alt="screen shot 2018-11-01 at 2 29 35 pm" src="https://user-images.githubusercontent.com/6063380/47871504-a4153200-dde2-11e8-9e88-81abac54ca86.png">
This works in Ch

[2018-11-01 18:39] catarak opened #231 "Can't load MobileNet model on 2012 Macbook Pro"
I couldn't find any documentation on browser/hardware support, but a couple of students in my class weren't able to run [this sketch](https://editor.p5js.org/ml5/sketches/S1PLinE27) (basically the most simple ml5 example) on older Macbooks, running Chrome. It crashed while loading the model. Happy to get one of them to put the error here.

[2018-11-01 19:46] cvalenzuela commented on #230
Might be related to https://github.com/ml5js/ml5-examples/pull/65

[2018-11-01 19:52] cvalenzuela commented on #231
Perhaps it can be an issue with a specific version of webgl? tf.js has `setBackend('cpu')`, we can try manually forcing that cpu backend.
The error code will definitely help us figure out what the issue is.

[2018-11-05 22:06] bclynch opened #235 "Angular Integration"
Hello

I was wondering if folks here have successfully integrated this library with frameworks like Angular. I have successfully made props off the created style available, but have not been able to get the transfer method to work. Any input would be appreciated.

[2018-11-06 13:43] bclynch commented on #235
I was able to get it working with the code below:

In your angular.json:
`
"scripts": [
  ...
  "./node_modules/ml5/dist/ml5.min.js"
]
`

And in the component it simply needs to be declared
`
declare let ml5: any;
`

Models can be placed in the assets folder for use.

[2018-11-06 13:43] #235 closed

[2018-11-07 20:30] shiffman opened #236 "word2vec API: direct vector math"
In teaching word2vec in the A2Z class, I noticed two things about the API that would be good to discuss.

## Arguments

While it's nice to have the option of adding, subtracting, averaging, etc. an array of vectors, the added square bracket syntax is confusing. It would be nice to overload the math functions to also parse multiple arguments as an array. I know this is probably tricky given we also

[2018-11-07 20:31] shiffman commented on #141
Discussing this now in #236

[2018-11-07 20:31] #141 closed

[2018-11-09 19:32] shiffman opened #238 "feature extractor model loading relative path?"
If the sketch is not at the root path, I can load the model at the current directory as follows:

[code]

However, if I ask for `model.json` this way:

[code]

It then looks in the root directory for `model.weights.bin`. This is minor for my example, but noting as it's an error people will encounter?

[2018-11-09 19:50] RobbertC5 commented on #238
This behavior is in accordance with the standard behavior of html and javascript. When loading javascript, css, images ... not specifying a folder will point the browser to the root of the host.

[2018-11-09 22:45] georgemandis opened #885 "styleTransfer not working with non-square images"
I [wrote this up on Stack Overflow](https://stackoverflow.com/questions/53232822/ml5-js-styletransfer-only-works-with-11-aspect-ratio) but thought I should post it here in case it's a bug. Here's what I wrote:

***

I'm experimenting with the `styleTransfer` method in [ml5.js](https://ml5js.org). It works well, but I've run into a problem where it only seems to work with square images as the input

[2018-11-09 23:46] shiffman commented on #238
Ah, ok, yes, I think it's a-ok to stay with convention! Maybe we can console log a custom error message instead of:

<img width="407" alt="screen shot 2018-11-09 at 6 46 02 pm" src="https://user-images.githubusercontent.com/191758/48294002-bda42280-e44f-11e8-8a1c-240642bbbb8a.png">

[2018-11-10 06:55] johnnietien commented on #227
Yes. I found ml5@0.1.3 and 0.1.2 doesn't work well with feature_extractor_classification example. The Loss cannot go to 0.000 in my case. It still work well with library ml5@0.1.1 but have no function Load/Save custom model.
I can see some people can run Load/Save with ml5@0.1.3 but in my case the Loss always stop at above 1.0000 and never get to 0.0000.

[2018-11-13 12:00] MariasStory opened #239 "rnnoise"
Hi,

Is something like https://github.com/xiph/rnnoise , or better, can be done with ml5?

Maybe there are some examples for real time ML noise suppression?

Thanks

[2018-11-14 15:36] shiffman commented on #226
@fernand0aguilar Apologies for never getting back to you. I have this example now working, code is here:

https://github.com/shiffman/A2Z-F18/tree/master/week10-ml/01_sentiment_tfjs

I'm thinking an ml5 example would look something like:

[code]

Also, would be great to support custom trained models a la:
https://medium.com/@alyafey22/sentiment-classification-from-keras-to-the-browser-7eda0d87cdc6

[2018-11-15 15:48] viv1kk opened #240 "multiplier in ml5.poseNet() not working."
I'm trying to change the value of multiplier parameter inside the ml5.poseNet() function and it does not register any input values, even when I put some random value inside the parameter, it doesn't even show any error message on the console, although the sketch is running fine...

It should only support 4 values. i.e 1.01, 1.00, 0.75 and 0.50

    poseNet = ml5.poseNet(video,modelState,{
     ima

[2018-11-20 02:03] #218 closed

[2018-11-20 17:24] annvnzndrvn opened #241 "Error: pixels passed to tf.fromPixels() can not be null after loading a custom model"
I'm getting the following error messages (sketch.js:47 Error: pixels passed to tf.fromPixels() can not be null) when starting to classify after loading a previously trained model. The classifier is working fine and it guesses the right images based on the previously trained data so I'm not sure why it returns that the images are null because it definitely read them correctly somehow.

Screenshot o

[2018-11-21 09:53] dianebecheras opened #242 "ml5 in raspberry pi"
I'm looking to use an example of ml5, in a raspberry pi zero w. Is that possible?

[2018-11-21 11:09] dianebecheras commented on #242
I would need it for the `Image Classification` example for training and running the model.

I have tried running it on a `Raspberry pi 3B` and a `Raspberry pi zero` w with `Raspbian` on `Chrome`, but I was not able to load the example page. I'm guessing this might be because of the poor performance of the hardware.

Do you have any idea if I might need to do something differently or if the hardwar

[2018-11-23 15:43] PriyaSoneji commented on #174
I am not able to use the classifier.save(); capability, it is throwing errors stating that it is not a defined function. In addition, I am unable to classify three different objects.
![image](https://user-images.githubusercontent.com/30093976/48951428-8d0ebf00-ef0c-11e8-91b8-81d4c8a705c5.png)

[2018-11-25 19:13] PiAnAnXa commented on #230
**classification.addImage** suffers the same issue in Chrome Version 56.0.2924.87 (64-bit)

[2018-11-29 19:37] shiffman opened #243 "SketchRNN interactive needs RDP feature"
Remaining to do for SketchRNN from @hardmaru. My idea is to build the RDP algorithm into the SketchRNN class or more likely part of [`utils`](https://github.com/ml5js/ml5-library/tree/master/src/utils). This specifically relates to the [interactive SketchRNN example](https://github.com/ml5js/ml5-examples/tree/master/p5js/SketchRNN/SketchRNN_interactive).

[2018-11-29 19:45] joeyklee opened #244 "Add support for PoseNet `.singlePose()` & `.multiPose()` callback"
Hello!

Related to https://github.com/ml5js/ml5-examples/pull/79 in using callbacks to structure the js.

In trying to run the PoseNet `.singlePose()` function using a callback, it doesn't seem to run the callback function. e.g.:

[code]

However, when using promises, we get the expected results:

[code]

Could this be an issue with ML5 or with TFJS core?

Below are the images of the differing res

[2018-11-29 19:52] shiffman commented on #244
I used the new GitHub beta feature to move the issue here, I think this is something to fix / look at in the library then we can update the example! @oveddan, can you take a look?

[2018-11-29 20:00] cvalenzuela commented on #244
PoseNet works as an EventEmitter. So you will need to listen to the `pose` event.

This should work:
[code]

[2018-11-29 20:49] joeyklee commented on #244
@cvalenzuela Ah! Interesting. Should I update https://github.com/ml5js/ml5-examples/pull/79#issuecomment-442969484 with the suggestion above + submit a new PR? Thanks a bunch for the feedback!

[2018-11-30 13:52] cvalenzuela commented on #244
That would be great!

On Thu, Nov 29, 2018 at 15:49 Joey Lee <notifications@github.com> wrote:

[2018-11-30 13:53] joeyklee commented on #244
@cvalenzuela cool! Will do. I'll make sure any of the next submissions also follow the same style. Many thanks ❤️!

[2018-12-02 20:23] aagarwal1012 opened #883 "Style transfer video example not working"
I just opened `index.html` of the repository, firstly it is showing "loading model", then nothing happens when I press the Start button.
No error is shown in the Console.

[2018-12-03 19:47] shiffman commented on #244
This can be closed, however, I wonder if supporting callbacks for these "single use" functions would be helpful in the cases where it's not continuously being run on a webcam?

[2018-12-03 20:03] shiffman opened #245 "Simple PoseNet"
I'm working on a new PoseNet example showing how to use just a few keypoints. Here's one with just the nose:

https://editor.p5js.org/codingtrain/sketches/By8YLbXyE

This leads me to some thinking about simplifying the API in the very common case of just wanting one pose and one or two keypoints (like the hands). What do you think about:

[code]

Alternative:
[code]

Also, is it too p5 specific to

[2018-12-03 20:48] shiffman commented on #244
Yes, I was thinking that for an example where you are maybe loading an array of images it might be tricky to pair the pose data with the correct image if the event listener function is separate?

[2018-12-04 17:55] cvalenzuela commented on #245
Makes sense!

Should we keep the position names consistent with poseNet API (ie: `'right_shoulder'`)?

[2018-12-04 17:57] shiffman commented on #245
Yes, I think so! I am going to do a tutorial with this on Thursday (https://youtu.be/EA3-k9mnLHs) is it worth it / realistic for me to trying to add something to support this by then?

[2018-12-04 18:30] cvalenzuela commented on #244
Having a callback as an options should be straightforward to implement and makes sense. I guess the initial idea of using poseNet in ml5 was more focused on video/interactive but we should support single images.

[2018-12-04 18:32] joeyklee commented on #244
@cvalenzuela @shiffman - I'd be happy to look into this (unless someone else wants to jump in first). Maybe in the next couple weeks I'll try to cross this off this list :) It'll be a nice opportunity to look into the ml5 lib! Thanks!

[2018-12-04 18:33] cvalenzuela commented on #244
@joeyklee go for it! happy to help if necessary.

[2018-12-04 18:34] joeyklee commented on #244
@cvalenzuela Sure thing! Will keep ya posted. Thanks!

[2018-12-04 18:40] cvalenzuela commented on #245
Perhaps as an experimental feature? Not sure if will have it as a npm version. Are you thinking of a parser that will take `pose` results (`pose.getPosition('nose')`) and just return `x` and `y` coordiantes?

[2018-12-04 21:09] shiffman commented on #245
Yes, exactly. For what I'm showing having what is returned be a`p5.Vector` object would be super useful, but maybe that is too p5 specific? It's probably a good idea to have it also return the confidence. So it could be:

[code]

I can do the tutorial with the way it is now and we can revisit this later in a more major update.

[2018-12-10 12:06] HussainSalihMahde commented on #45
why when i save the ml5.js classifier show error,
no function called save

[2018-12-10 18:16] b2renger opened #246 "Style transfer on Frame Buffer Object ?"
Hello everyone,

I've played with the style transfer examples and they are pretty fun, thanks for making this accessible !

One thing I would like to do is do some style transfer on a frame buffer object : something like a [createGraphics](https://p5js.org/reference/#/p5/createGraphics) from p5js in which I could build some abstract graphics and see how it goes.

Do you think thinks it is do-able

[2018-12-11 10:36] jeffin07 opened #247 "Can i use custom trained yolo model"
How can i use custom trained yolo model when i try to load a custom model prediction array is empty.
Can you tell me what do i do to make it right

[2018-12-15 08:58] khangvan commented on #242
I also meet the same issue. It's work with P5js show image in webcam. Model leaded but percent of confident is not update information.
Do you have check configuration to have run ml5js on raspberrry pi?
Thanks you

[2018-12-23 09:46] i3130002 opened #248 "Training speed"
Hi and thanks for all your works.
I come across these two video from Coding train on youtube
 [TF.js on XOR](https://www.youtube.com/watch?v=N3ZnNa01BPM&list=PLRqwX-V7Uu6YIeVA3dNxbR9PYj4wV31oQ&index=10&t=0s) and [Image classification using ML](https://www.youtube.com/watch?v=aKgq0m1YjvQ)
I wonder why It take so long to train a simple model for XOR but pretty fast for Images using ml5 !
Could you P

[2018-12-23 12:59] nok opened #249 "Support of generic machine learning models"
Hello all,

is there any intention and interest to integrate the support of generic machine learning algorithms or models (from [scikit-learn](https://scikit-learn.org)) besides deep neural networks (from [TensorFlow.js](https://js.tensorflow.org/)) in ml5? I thought about a separate `contrib` library which makes it possible to load and use already trained models in your current application.

I fo

[2018-12-23 17:40] p3x-robot opened #250 "featureExtractor works only 2 images"
hello,

how are you?
i am trying to guess based on what is on a video.
i try adding a new video capture based on angular eg:
`classifier.addImage(this.trainees[$index].name);`

but for me it looks like it only works with 2 only.
how can i train the neural network to work with multiple images?
thanks,
patrik

[2018-12-24 14:17] oveddan commented on #240
Thanks for reporting - this should be fixed.

[2018-12-24 14:20] oveddan opened #251 "document the posenet options"
Currently there is a link out to the posenet repo to view the options.  It would be better if it appeared here as that way people don't overlook those options -they can have a big impact on speed and accuracy.

[2018-12-26 17:45] #250 closed

[2018-12-30 01:47] oveddan opened #252 "npm install error when trying to install fsevents"
When running npm install, I get the error:

npm install

node-pre-gyp WARN Tried to download(404): https://fsevents-binaries.s3-us-west-2.amazonaws.com/v1.2.4/fse-v1.2.4-node-v67-darwin-x64.tar.gz
node-pre-gyp WARN Pre-built binaries not found for fsevents@1.2.4 and node@11.0.0 (node-v67 ABI, unknown) (falling back to source compile with node-gyp)
No receipt for 'com.apple.pkg.CLTools_Executables'

[2018-12-30 02:02] oveddan opened #253 "Consider supporting Typescript"
I want to open the discussion here around allowing models to be developed in typescript in ml5.  I feel like using Typescript would bring many advantages.

* We are dealing often with new libraries to import that in general are made in typescript.  Being able to have autosuggest for all of the possible library methods when we don't know the full api would make things much easier.
* We would know r

[2018-12-30 02:57] meiamsome commented on #252
`fsevents` is optional for `chockidar`, and so this doesn't actually cause any install failure - the error message provider simply says that if you want `fsevents` features (I believe this is used for watching the file system on Macs) you should either use an older node version that has a pre built binary, wait for a binary for 11.0.0 to be released or install Xcode so that `fsevents` can be built

[2018-12-30 03:48] huan commented on #253
I just came here and saw this awesome ml5js module for js users, it's really fantastic!

And I would like to vote YES for writing code in TypeScript because it will really help us to save lots of time to maintain the code with higher quality.

Here's a wonderful TypeScript talk from Anders Hejlsberg at [here](https://channel9.msdn.com/Events/Build/2017/B8088)

[2019-01-01 01:44] joeyklee commented on #244
Hello there! I just made a PR regarding this thread here https://github.com/ml5js/ml5-library/pull/254

TODO: I just want to make a note to update the documentation on the website if/when the changes are integrated so we don't forget :) - Thanks + Happy New Year + Feliz año nuevo!

[2019-01-02 15:33] cvalenzuela commented on #252
Thanks for the detailed response @meiamsome. Since this is not a ml5 specific issue I'll close it. @oveddan, feel free to open it again if you feel there's something else.

[2019-01-02 15:33] #252 closed

[2019-01-02 16:00] cvalenzuela commented on #253
We have discussed this a few times, but given the size of the project now, I think this is a very reasonable change to explore and possible make. Will take some time to update the source but might be worth it. Perhaps we can discuss this in more detailed on our January meetup? @shiffman, what are your thoughts on this?

[2019-01-02 18:08] artismarti commented on #241
I get the same error & the solution above hasn't worked for me. :(

[2019-01-02 22:56] #155 closed

[2019-01-02 23:05] nathanvogel commented on #253
I've never really used Typescript, but [when I modified ml5](https://github.com/nathanvogel/ml5-library/commit/af28f20204f1bd61c8a191c6d85d588899f00793) to have the classifier support Canvas input, understanding the supported types of the arguments and variables was my main struggle.

[2019-01-03 04:36] huan commented on #253
@nathanvogel Yes, that's exactly why we need TypeScript!

[2019-01-05 12:55] shiffman commented on #164
I investigated this a bit more and another way to do this is the following:

[code]

The number of classes has to be set in advance b/c when examples are added they are "one-hot encoded" according to the total number of classes. This is distinctly different than the KNNClassifier examples which builds up the examples and labels on the fly.

In light of this...

1. Specifying the number of classes

[2019-01-05 13:10] shiffman opened #255 "Support plain arrays for KNNClassifier"
I am looking at @yining1023's wonderful KNN Classifier examples from [Machine Learning for the Web](https://github.com/yining1023/machine-learning-for-the-web). It would be useful for the `KNNClassifier`'s `classify()` and `addExample()` methods to be able to accept a tensor or a plain array (and then internally make the tensor). This would allow the following:

[code]

to turn into:

[code]

This

[2019-01-05 23:35] cvalenzuela commented on #255
Makes sense. The same can be applied for every future set of methods that can work with arrays, in that case making a util function that checks for all types of valid inputs would be useful.

Also, in line with https://github.com/ml5js/ml5-library/issues/245, it would be great to just pass the name of the body part

[2019-01-08 21:15] montoyamoraga opened #257 "add current version 0.1.3 to the releases on GitHub"
I like it when you can download the file, in particular for workshops when you want to demistify what a library is and want to show its contents. Also for archival reasons, to see its history through the releases.

[2019-01-08 22:54] Spongman opened #259 "webgl crash during image classification"
v0.1.3

example: https://codepen.io/Spongman/pen/bOjVXv?editors=0011

after the initial training stage (progress bar at top), the above example starts calling the KNN classifier. eventually it crashes the browser with the following errors:

[code]

[2019-01-10 14:50] addys888 commented on #217
If you tried it over lightning component then please degrade your Component API version with 39 or less.

[2019-01-10 15:14] addys888 opened #260 "Can we add our DataSet(Images) to ML5 Data Model"
Hi there,

We are using 'imageClassifier' and 'featureExtractor' methods to recognize images using ml5-library. We have successfully recognized the images with your Pre-trained model.
Now we want to add our Data set(Images with its label) in ml5 data model. We are using addImage(Image, Label) function to add an image, but its take references of following lines:

`// Create a new classifier using t

[2019-01-12 16:40] artismarti commented on #241
@bgree052 I found that switching from Firefox to Chrome solved this for me. Hope this helps.

[2019-01-14 17:26] shiffman commented on #253
I am very happy to revisit this discussion! My thinking has been to stay with JavaScript in terms of the project being easier to contribute to for beginner coders (I like opening up the source code in class to show how the library works and have it be recognizable for students). @oveddan brings up a lot of good points. Let's discuss next week during our meetings at ITP, I'll be sending out some e-

[2019-01-15 06:40] addys888 opened #261 "AddImage using FeatureExtractor method"
We are using 'imageClassifier' and 'featureExtractor' methods to recognize images using ml5-library. We have successfully recognized the images with your Pre-trained model.
We are successfully implemented featureExtractor.classification(video, VideoReady) function to add a poses using a video element. But now we want to add an image using featureExtractor's addImage() function as it shows that now

[2019-01-15 16:37] shiffman commented on #164
Thanks @cvalenzuela. Thinking about this a bit more it feels like the number of classes should be set when calling `classification()` since it's not relevant to the featureExtractor until that point? We can discuss next week!

[code]

Also, probably worth discussing if we make the terminology more consistent with `KNNClassifier` and use "labels".

[2019-01-19 15:38] OmarTahoun commented on #164
Thanks for this!! i've been stuck for a minute here trying to figure out why it never classifies the last class added.

@shiffman Don't you think the function `classifier.addImage('Cat')`  should return a warning or  an error if the number of labels added to the classifier is already more than the number specified in the classifier object?
This would make it easier to debug.
I would love to work o

[2019-01-19 15:50] OmarTahoun commented on #164
I imagine it to be something like this inside the `addImage()` function.

`if (this.mapStringToIndex.length <= this.numClasses)`
`       // Can add image  `
`else`
       `// Raise Warning("More labels than specified")`

[2019-01-20 18:41] nathanvogel opened #262 "Erratic classifier training on mobile"
Hi! 👋

I'm using MobileNet to extract features and train a new classifier, but the training fails to produce a coherent model almost all the time on smartphones and tablets. Instead of going down to zero, the loss shows strange behaviors and the resulting model is unusable.

For example, here're 2 behaviors that I've observed:

1. Looping values like [6.27, 3.20, 0.97, 1.21... 6.27, 3.20 ...] (mos

[2019-01-20 19:14] gitalm commented on #260
I use (_loadImage_ failed, but _createImg_ worked)

`  mobilenet = ml5.featureExtractor('MobileNet', modelReady);`
`  classifier = mobilenet.classification();`
`  for (let n = 0; n < 5; n++){ // 4 direcotries`
`    for (let i = 0; i < 9; i++){ // with 9 images each`
`    	// Load the image`
`	    imgPfad = data.children[n].children[i].path;`
`	    flowerTyp = data.children[n].children[i].type;`
`

[2019-01-21 18:32] gitalm commented on #260
I have created a github for my project and you can see there, how to load local files, train a classifier and save the model.
https://github.com/gitalm/EarlyFlowers/tree/master

[2019-01-21 18:36] gitalm commented on #262
I have the same issues. I'm training the classifier with different local files (flowers) and on Firefox the results are different to chromium.
Chromium rapidly goes down with the loss and Firefox kind of oscillate.
Data and Programme is totaly identically.
For testing purposes i uploaded it to git under https://github.com/gitalm/EarlyFlowers/tree/master
Anyway, the results are not good.
I already

[2019-01-23 18:38] joeyklee opened #263 "Tavis CI testing fails w/ node version >10 - include specific instructions?"
There were some issues with checking PRs and the CI. I thought it would be worth documenting and noting the fix for cases in which a PR does not pass the CI test as noted here: https://github.com/ml5js/ml5-library/pull/254#issuecomment-451720071

Steps:
1. remove your `node_modules`
2. `npm install`
3. `yarn install`
4. include your `username` and `accessKey` in the `karma.conf.js`
[code]
5. `yarn

[2019-01-24 16:58] shiffman commented on #261
Hello, thanks for you post! Is this the same question as in #260? I'll reply there!

[2019-01-24 17:01] shiffman commented on #260
Ah, I think there might be a bug related to using these methods with `loadImage()` instead of `createImg()` or `createCapture()`. In theory support was added to the library by @meiamsome in #206 but it may be that not everything is working. Have you tried making a very simple example which just loads the model and adds one single image?

[2019-01-24 17:02] shiffman commented on #259
I see this as working! (I'm on Mac OS with Chrome). What browser / OS are you using? Or did you get it working?

[2019-01-24 17:06] shiffman commented on #257
The current version is stored in [dist](https://github.com/ml5js/ml5-library/tree/master/dist), and we hope to add the non minified soon! (see #205) Maybe we should also add a link in our docs to all the versions hosted on [npm](https://www.npmjs.com/package/ml5)?

[2019-01-24 17:08] shiffman commented on #251
Agreed! @mayaman are you interested in tackling this as part of the PoseNet work you are doing? I suppose I could move this issue to ml5-website?

[2019-01-24 17:10] shiffman commented on #249
Hello! We are most definitely open to this! We've been focusing on wrapping existing implementations in tf.js but helper functions for non so-called "deep learning" algorithms along with documentation and examples would be great! If anyone wants to propose an addition, I would suggest opening an issue about a specific algorithm and going from there!

[2019-01-24 17:12] shiffman commented on #253
This came up a bit in our discussions at ITP yesterday. One idea proposed was to do this incrementally and maybe use typescript for new models/classes we are adding to ml5 and see how that goes. Would that be possible? Keeping the existing code base as is (for now) and adding a new class with typescript as a trial run?

[2019-01-24 17:13] shiffman commented on #248
Thanks for the question! I'd have to investigate it more, but my guess is that the code for doing XOR just isn't optimized as thoughtfully or carefully as the MobileNet code! You are right that more data usually results in things taking more time!

[2019-01-24 17:17] shiffman commented on #248
Closing this issue for now, but feel free to re-open if you have more questions! (Note to self that we might want to set up a user forum for more general questions like this.)

[2019-01-24 17:17] #248 closed

[2019-01-24 17:19] shiffman commented on #246
Yes, we would like to support this! Are you sure it doesn't work? Have you tried applying it to a canvas image? I believe this is already supported but obviously could be wrong here! (This is related to #206)

[2019-01-24 17:23] shiffman commented on #241
@bgree052 is Firefox the issue? I am not able to reproduce this error. (Also, I am running the current build of the library which will be released to npm shortly.)

[2019-01-24 17:33] shiffman commented on #230
I can confirm this error in latest Firefox 64.0.2 but works in Chrome 71.0.3578.98. I'm adding "help wanted" and "browser support" labels here.

[2019-01-24 17:52] gitalm commented on #260
Dear Daniel,

thanks for the comments. In the project https://github.com/gitalm/EarlyFlowers/tree/master loading images works, but predictions are really bad. Firefox and Chromium show different results with the trained model and both are wrong.
Everything is coded and can be viewed directly in the files of the github repository.

Do I have to use other options like (epoch : 50) or is the sample o

[2019-01-24 18:20] shiffman commented on #253
Here's a nice quick intro to TypeScript for those so interested! (Like me)

https://dev.to/robertcoopercode/get-started-with-typescript-in-2019-6hd

[2019-01-24 18:23] Spongman commented on #259
No, i'm still seeing the same issue. right now on Chrome v71 on Windows 10, but i also saw it recently on Chrome on Ubuntu 18.04. I don't have a strong video card on either machine, so it might be a question of waiting until GPU ram fills up. I usually see the crash after 10-15 classifications (the `XXX <==> YYY` output).

[2019-01-24 20:43] joeyklee opened #266 "Use Github Releases for version management and history"
Just a note to make use of Github releases: https://help.github.com/articles/creating-releases/